{
  "openapi": "3.1.0",
  "info": {
    "title": "MemOS Dashboard APIs",
    "description": "Dashboard API for managing messages and searching memories in MemOS.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://memos.memtensor.cn/api/openmem/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "paths": {
    "/add/message": {
      "post": {
        "summary": "Add Message",
        "description": "该接口用于添加会话消息，支持多类型内容、批量添加。MemOS 会自动解析消息并处理记忆，用于后续对话时召回参考。",
        "operationId": "add_message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMessageRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "conversation_id": "0610",
                "messages": [
                  {
                    "role": "user",
                    "content": "我想暑假出去玩，你能帮我推荐下吗？"
                  },
                  {
                    "role": "assistant",
                    "content": "好的！是自己出行还是和家人朋友一起呢？"
                  },
                  {
                    "role": "user",
                    "content": "肯定要带孩子啊，我们家出门都是全家一起。"
                  },
                  {
                    "role": "assistant",
                    "content": "明白了，所以你们是父母带孩子一块儿旅行，对吗？"
                  },
                  {
                    "role": "user",
                    "content": "对，带上孩子和老人，一般都是全家行动。"
                  },
                  {
                    "role": "assistant",
                    "content": "收到，那我会帮你推荐适合家庭出游的目的地。"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/message": {
      "post": {
        "summary": "Get Message",
        "description": "该接口用于获取指定会话的用户与助手历史对话记录，可按数量限制返回结果。",
        "operationId": "get_message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMessageRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "conversation_id": "0928",
                "message_limit_number": 6
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/memory": {
      "post": {
        "summary": "Search Memory",
        "description": "该接口用于检索指定用户或 Agent 的记忆，返回与查询内容最相关的记忆片段。",
        "operationId": "search_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchMemoryRequest"
              },
              "example": {
                "query": "帮我总结今年和阅读相关的记忆",
                "user_id": "memos_user_123",
                "conversation_id": "0928",
                "knowledgebase_ids": [
                  "kb_xxx"
                ],
                "filter": {
                  "knowledgebase": {
                    "and": [
                      {
                        "tags": {
                          "contains": "阅读"
                        }
                      },
                      {
                        "create_time": {
                          "gte": "2025-01-01"
                        }
                      },
                      {
                        "create_time": {
                          "lte": "2025-12-31"
                        }
                      }
                    ]
                  },
                  "user": {
                    "and": [
                      {
                        "scene": "chat"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMemoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chat": {
      "post": {
        "summary": "Chat",
        "description": "",
        "operationId": "chat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "stream": false,
                "query": "上海有哪些好玩的",
                "model_name": "deepseek-r1",
                "conversation_id": "23006762-a064-456e-a33b-d2452bdfa09f",
                "knowledgebase_ids": [
                  "2448808afa784cc5f7595da21ae5a3fd"
                ],
                "filter": {
                  "and": [
                    {
                      "create_time": {
                        "gt": "2025-09-19"
                      }
                    }
                  ]
                },
                "system_prompt": "推荐公园",
                "add_message_on_answer": false,
                "allow_public": false,
                "allow_knowledgebase_ids": [],
                "agent_id": "agent_id_2025-12-15-01",
                "app_id": "app_id_2025-12-15-01",
                "tags": [],
                "info": {},
                "max_tokens": 8192,
                "temperature": 0.7,
                "top_p": 0.95
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatStreamResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/memory": {
      "post": {
        "summary": "Get Memories",
        "description": "分页获取某个用户或 Agent 的记忆。",
        "operationId": "get_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMemoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/memory": {
      "post": {
        "summary": "Delete Memory",
        "description": "删除指定用户或 Agent 的记忆，支持按 memory_ids 精确删除，或按 user_id/agent_id 清空全部记忆。",
        "operationId": "delete_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteMemoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/add/feedback": {
      "post": {
        "summary": "Add Feedback",
        "description": "该接口用于添加对当前会话消息的反馈，MemOS能够基于用户的反馈更正记忆。",
        "operationId": "add_feedback",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddFeedbackResponse"
                }
              }
            }
          }
        }
      }
    },
    "/extract/memory": {
      "post": {
        "summary": "Extract Memory",
        "description": "基于 MemOS 自研抽取模型，从对话消息中直接抽取并返回事实与偏好记忆。",
        "operationId": "extract_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractMemoryRequest"
              },
              "example": {
                "messages": [
                  {
                    "role": "user",
                    "content": "我暑假定好去广州旅游，住宿的话有哪些连锁酒店可选？"
                  },
                  {
                    "role": "assistant",
                    "content": "您可以考虑【七天、全季、希尔顿】等等"
                  },
                  {
                    "role": "user",
                    "content": "我选七天"
                  },
                  {
                    "role": "assistant",
                    "content": "好的，有其他问题再问我。"
                  }
                ],
                "extraction_types": [
                  "memory",
                  "preference"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractMemoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rerank": {
      "post": {
        "summary": "Rerank Memory",
        "description": "提供记忆重排接口，基于 memos-reranker 小模型，传入用户查询与候选记忆列表，一键完成记忆相关性重排。",
        "operationId": "rerank",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerankRequest"
              },
              "example": {
                "model": "memos-reranker-0.6b",
                "query": "用户有什么兴趣爱好",
                "documents": [
                  "用户喜欢打羽毛球",
                  "用户在杭州做后端开发",
                  "用户偏好简洁的回复风格",
                  "用户比较喜欢酱香型白酒",
                  "用户下周三要去北京出差"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RerankResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/status": {
      "post": {
        "summary": "Get Task Status",
        "description": "查询 add/message、add/feedback 等异步任务的处理状态。任务完成后返回 memory_views，汇总本次任务新增/更新/删除数量，以及各<a href=\"/cn/memos_cloud/introduction/memory_types\">记忆种类</a>下触达的记忆 ID。",
        "operationId": "get_status",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetStatusRequest"
              },
              "example": {
                "task_id": "c464e17e-f2ff-4e9a-a2c2-41cc55ab43b9"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStatusResponse"
                },
                "examples": {
                  "completed": {
                    "summary": "completed",
                    "value": {
                      "code": 0,
                      "message": "ok",
                      "data": {
                        "task_id": "c464e17e-f2ff-4e9a-a2c2-41cc55ab43b9",
                        "status": "completed",
                        "memory_views": {
                          "added": 1,
                          "updated": 1,
                          "deleted": 0,
                          "detail_factual": {
                            "memory_ids": [
                              "memos_mem_001"
                            ]
                          },
                          "preference": {
                            "memory_ids": [
                              "memos_mem_002"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "running": {
                    "summary": "running",
                    "value": {
                      "code": 0,
                      "message": "ok",
                      "data": {
                        "task_id": "c464e17e-f2ff-4e9a-a2c2-41cc55ab43b9",
                        "status": "running"
                      }
                    }
                  },
                  "failed": {
                    "summary": "failed",
                    "value": {
                      "code": 0,
                      "message": "ok",
                      "data": {
                        "task_id": "c464e17e-f2ff-4e9a-a2c2-41cc55ab43b9",
                        "status": "failed"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/create/knowledgebase": {
      "post": {
        "summary": "创建知识库",
        "description": "创建与项目关联的知识库",
        "operationId": "create_knowledgebase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgebaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKnowledgebaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/knowledgebase": {
      "post": {
        "summary": "移除知识库",
        "description": "从当前项目中移除知识库，彻底删除知识库需从控制台-知识库页面操作。",
        "operationId": "delete_knowledgebase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteKnowledgebaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteKnowledgebaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/add/knowledgebase-file": {
      "post": {
        "summary": "添加知识库文件",
        "description": "向指定知识库上传文件。默认上传普通文档；当 file[].type 为 skill 时，上传 Markdown Skill 文件或 ZIP 技能包。",
        "operationId": "add_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/knowledgebase-file": {
      "post": {
        "summary": "获取知识库文件",
        "description": "通过两种方式获取文件信息：传 file_ids 获取指定文件详情，或传 knowledgebase_id 获取某个知识库下的文件列表。两种方式只能选择一种；同时传 knowledgebase_id 和 file_ids 会报错。",
        "operationId": "get_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/knowledgebase-file": {
      "post": {
        "summary": "删除知识库文件",
        "description": "从指定知识库中删除文件。删除 Skill 文件时，与该文件关联的 Skill 会同步删除。",
        "operationId": "delete_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bind/profile_template": {
      "post": {
        "summary": "绑定属性记忆模板",
        "description": "为用户或 Agent 绑定属性记忆模板，创建属性记忆实例。绑定后，后续添加消息时自动更新对应的属性字段值。",
        "operationId": "bind_profile_template",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BindProfileTemplateRequest"
              },
              "example": {
                "bind_list": [
                  {
                    "user_id": "memos_user_123",
                    "profile_template_id": "tpl_user_001"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/edit/profile": {
      "post": {
        "summary": "编辑属性记忆实例",
        "description": "编辑属性记忆实例，支持新增字段、更新字段值、删除字段、锁定字段不被算法自动更新。只影响当前实例，不修改模板也不影响其他实例。",
        "operationId": "edit_profile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditProfileRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "profile_template_id": "tpl_user_001",
                "metadata": {
                  "基础信息": {
                    "居住地": {
                      "value": "上海",
                      "algorithm_updatable": false
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/profile": {
      "post": {
        "summary": "删除属性记忆实例",
        "description": "删除某个用户或 Agent 的属性记忆实例，该实例的所有字段值和绑定关系一并清除。不影响模板本身，也不影响其他主体的实例。",
        "operationId": "delete_profile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteProfileRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "profile_template_id": "tpl_user_001"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/update/memory": {
      "post": {
        "summary": "修改记忆",
        "description": "手动修改一条已有记忆的内容、标题或状态。支持所有记忆种类，包括事实记忆、偏好记忆、事件记忆、属性记忆的属性值等。",
        "operationId": "update_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemoryRequest"
              },
              "example": {
                "memory_id": "mem_event_001",
                "title": "和陈默去西湖露营",
                "content": "上周六和好友陈默去西湖边露营，天气很好，晚上一起看了星星。"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/memory/{memory_id}": {
      "get": {
        "summary": "获取单条记忆详情",
        "description": "查询单条记忆信息。",
        "operationId": "get_memory_by_id",
        "parameters": [
          {
            "name": "memory_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "记忆 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMemoryByIdResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Token API_key，可在 <a href=\"https://memos-dashboard.openmem.net/apikeys/\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\" target=\"_blank\">API 控制台>接口密钥</a> 中查看"
      }
    },
    "schemas": {
      "ChatRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "query"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "对话内容所关联的用户唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "对话内容所在会话的唯一标识符，传入可明确当前会话，本会话的记忆应当比其他历史会话的权重高；不传可跨会话检索相关记忆，得到相关性更高的模型回答。"
          },
          "query": {
            "type": "string",
            "title": "Query",
            "description": "用户输入的对话内容。"
          },
          "filter": {
            "type": "object",
            "title": "Filter",
            "description": "记忆过滤的条件，用于在检索记忆前精确限定记忆范围。可用字段包括：\"agent_id\", \"app_id\", \"create_time\", \"update_time\"与\"info\"中的字段。支持逻辑运算符（and，or）和比较运算符（gte、lte、gt、lt）。对于\"info\"字段，支持过滤传入的\"business_type\", \"biz_id\", \"scene\"和其他自定义字段。",
            "example": "{\"and\": [{\"create_time\":{\"gte\":\"...\"}}]}"
          },
          "knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Knowledgebase IDs",
            "description": "该字段用于限制当次搜索可访问的知识库范围，默认为空（即不检索任何知识库）。传入具体知识库 ID，则可检索指定知识库中的普通文档和已上传的 Skill；传入 all，则可检索该项目下所有关联知识库。"
          },
          "memory_limit_number": {
            "type": "integer",
            "title": "Memory Limit Number",
            "description": "召回的事实记忆条数上限，在满足相关性阈值（relativity）的前提下最多返回该数量的记忆，不保证返回固定条数。默认值 9，最大值 25。",
            "default": 9
          },
          "include_preference": {
            "type": "boolean",
            "title": "Include Preference",
            "description": "是否要召回偏好记忆，开启后系统会根据查询内容智能召回与用户偏好相关的记忆。默认 =true",
            "default": true
          },
          "preference_limit_number": {
            "type": "integer",
            "title": "Preference Limit Number",
            "description": "召回的偏好记忆条数上限，在满足相关性阈值（relativity）的前提下最多返回该数量的记忆，不保证返回固定条数。默认值 9，最大值 25。",
            "default": 9
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "召回记忆的相关性阈值（0~1）。用于过滤低相关记忆，并与限定返回的事实、偏好记忆最大条数，共同约束最终返回结果。不传时使用系统默认阈值，取值为0时表示不进行相关性过滤。",
            "default": 0.45
          },
          "model_name": {
            "type": "string",
            "enum": [
              "qwen3-32b",
              "deepseek-r1",
              "qwen2.5-72b-instruct"
            ],
            "title": "Model Name",
            "description": "指定具体对话模型。",
            "default": "qwen2.5-72B-Instruct"
          },
          "system_prompt": {
            "type": "string",
            "title": "System Prompt",
            "description": "自定义系统指令。"
          },
          "stream": {
            "type": "boolean",
            "title": "Stream",
            "description": "是否启用流式返回。",
            "default": false
          },
          "max_tokens": {
            "type": "integer",
            "title": "Max Tokens",
            "description": "表示最大生成 token 数。",
            "default": 8192
          },
          "temperature": {
            "type": "number",
            "title": "Temperature",
            "description": "控制生成随机性。取值范围：0 ≤ x ≤ 2",
            "default": 0.7
          },
          "top_p": {
            "type": "number",
            "title": "Top P",
            "description": "Nucleus 采样参数。取值范围：0 ≤ x ≤ 1",
            "default": 0.95
          },
          "add_message_on_answer": {
            "type": "boolean",
            "title": "Add Message On Answer",
            "description": "是否自动将用户与助手的会话内容写入记忆。启用后，开发者无需再调用add/message接口添加消息为记忆。",
            "default": true
          },
          "app_id": {
            "type": "string",
            "title": "App ID",
            "description": "对话内容所关联的应用唯一标识符。"
          },
          "agent_id": {
            "type": "string",
            "title": "Agent ID",
            "description": "对话内容所关联的Agent唯一标识符。"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Tags",
            "description": "自定义标签列表，用于标记对话内容的主题或分类。"
          },
          "info": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "title": "Info",
            "description": "自定义元信息字段，能够存储任意与对话内容相关的结构化数据，例如位置、来源、版本等，主要用于在检索时精确过滤或追踪来源。"
          },
          "allow_public": {
            "type": "boolean",
            "title": "Allow Public",
            "description": "是否允许加入公共记忆。",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Allow Knowledgebase IDs",
            "description": "添加的消息产生的记忆允许被写入的知识库列表。"
          }
        },
        "title": "ChatRequest"
      },
      "ChatResponseData": {
        "type": "object",
        "title": "ChatResponseData",
        "properties": {
          "response": {
            "type": "string",
            "title": "Response",
            "description": "回答的具体内容。"
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "$ref": "#/components/schemas/ChatResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "提示信息"
          }
        },
        "title": "ChatResponse"
      },
      "ChatStreamResponse": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "description": "流式事件名称，当前默认为 message。",
            "default": "message"
          },
          "data": {
            "type": "object",
            "description": "流式返回的数据内容。",
            "properties": {
              "type": {
                "type": "string",
                "description": "流式消息类型，用于标识当前数据的语义类别。<br>reasoning：推理内容<br>text：正常文本内容<br>end：流式结束标识",
                "enum": [
                  "reasoning",
                  "text",
                  "end"
                ]
              },
              "data": {
                "type": "string",
                "description": "流式返回的文本内容。"
              }
            }
          }
        },
        "title": "ChatStreamResponse"
      },
      "MessageInput": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "chat_time": {
            "type": "string",
            "title": "Chat Time",
            "description": "对话发生的时间，可传入结构化时间或中文时间描述。传入该参数能够让记忆携带时间信息。"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system",
              "tool"
            ],
            "title": "Role",
            "description": "消息创建者的角色。"
          },
          "role_id": {
            "type": "string",
            "title": "Role ID",
            "description": "具体发言人的 ID，群聊场景建议传入。"
          },
          "role_name": {
            "type": "string",
            "title": "Role Name",
            "description": "发言人名称。传入后，抽取的记忆会标识发言人的名称。需与 role_id 同时传入。"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "消息文本内容"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "image_url",
                        "file"
                      ],
                      "description": "发送的消息类型"
                    },
                    "text": {
                      "type": "string",
                      "description": "文本消息内容。type为text时必填。"
                    },
                    "image_url": {
                      "type": "object",
                      "description": "图片消息内容对象。",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "图片消息URL。type为image_url时必填。"
                        }
                      }
                    },
                    "file": {
                      "type": "object",
                      "description": "文件消息内容对象。",
                      "properties": {
                        "file_data": {
                          "type": "string",
                          "description": "可访问的文件URL或者base64, 只支持七种类型txt / pdf / doc / docx / json / md / xml， 单文件不超过100MB、500页，总数不超过20个。type为file时必填。注意：该接口的总输入上限为40,000 Tokens。"
                        }
                      }
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                "description": "多模态内容列表"
              }
            ],
            "description": "消息内容文本。"
          },
          "tool_call_id": {
            "type": "string",
            "description": "role为tool时，工具调用消息的唯一标识。"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "工具调用的唯一标识，用于关联本次工具调用。tool_calls中必填。"
                },
                "type": {
                  "type": "string",
                  "description": "工具调用类型，当前仅支持 function。tool_calls中必填。",
                  "enum": [
                    "function"
                  ]
                },
                "function": {
                  "type": "object",
                  "description": "被调用的工具定义，tool_calls中必填。",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "工具（函数）名称，tool_calls中必填。"
                    },
                    "arguments": {
                      "type": "string",
                      "description": "工具调用参数，需为 JSON 格式的字符串，tool_calls中必填。"
                    }
                  }
                }
              }
            },
            "description": "role为assistant时，工具调用信息列表，用于在触发工具调用时传递。"
          }
        },
        "title": "MessageInput"
      },
      "AddMessageRequest": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "user_id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "title": "User ID",
            "description": "添加消息所关联的用户唯一标识符。支持传入字符串（单用户）或字符串数组（群聊多用户，上限 20 个）。"
          },
          "agent_id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "添加的消息所关联的 Agent 唯一标识符。支持传入字符串（单 Agent）或字符串数组（群聊多 Agent）。开启「为 Agent 创建独立记忆」后，Agent 作为独立主体拥有记忆。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "添加的消息所关联的会话唯一标识符，相同 conversation_id 下的多轮消息会被识别为同一上下文。"
          },
          "messages": {
            "type": "array",
            "title": "Messages",
            "description": "添加的消息对象数组，数组中所有消息的总 token 数上限为 40k。",
            "items": {
              "$ref": "#/components/schemas/MessageInput"
            }
          },
          "app_id": {
            "type": "string",
            "description": "添加的消息所关联的应用唯一标识符，主要用于在检索记忆时查询某用户在该 App 下的专属记忆。"
          },
          "allow_memory_view": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "detail_factual",
                "preference",
                "skill",
                "profile",
                "event",
                "tool_memory"
              ]
            },
            "description": "允许抽取的记忆种类，不传时默认抽取所有种类。全部种类及取值说明见 <a href=\"/cn/memos_cloud/introduction/memory_types\">记忆种类</a>。",
            "default": [
              "detail_factual",
              "preference",
              "skill",
              "profile",
              "event",
              "tool_memory"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "自定义标签列表，用于标记添加消息的主题或分类。"
          },
          "info": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "自定义元信息字段，能够存储任意与添加信息相关的结构化数据，例如位置、来源、版本等，主要用于在检索时精确过滤或追踪来源。"
          },
          "allow_public": {
            "type": "boolean",
            "description": "添加的消息产生的记忆是否允许写入公共记忆库。开启后，生成的记忆可被项目下的其他用户检索。",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "添加的消息，产生的记忆允许被写入的知识库范围。"
          },
          "async_mode": {
            "type": "boolean",
            "description": "是否启用异步添加记忆。开启后，记忆将在后台异步添加，避免阻塞调用链。",
            "default": true
          }
        },
        "title": "AddMessageRequest"
      },
      "OpenMemAddMessageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success",
            "description": "是否添加成功。true表示成功，false表示失败。",
            "example": true
          },
          "task_id": {
            "type": "string",
            "title": "Task ID",
            "description": "记忆处理任务的唯一标识。请调用 <a href=\"/cn/api_docs/message/get_status\">Get Task Status</a> 接口查询任务处理结果。"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "enum": [
              "running",
              "completed",
              "failed"
            ],
            "description": "记忆处理任务当前的状态。"
          }
        },
        "title": "OpenMemAddMessageResponse"
      },
      "AddMessageResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/OpenMemAddMessageResponse"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息。",
            "example": "ok"
          }
        },
        "title": "AddMessageResponse"
      },
      "GetMessageRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "与获取消息关联的用户的唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与获取消息关联的会话的唯一标识符。"
          },
          "message_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Message Limit Number",
            "description": "限定返回的消息条数，用于控制消息列表的长度，不传时使用系统默认值6，最大值为50",
            "default": 6
          }
        },
        "title": "GetMessageRequest"
      },
      "MessageDetail": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "title": "Role",
            "description": "消息发送者的角色。",
            "example": "user"
          },
          "content": {
            "type": "string",
            "title": "Content",
            "description": "消息内容文本。"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "消息创建时间。"
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "消息最近一次更新时间。"
          }
        },
        "title": "MessageDetail"
      },
      "GetMessageResponseData": {
        "type": "object",
        "properties": {
          "message_detail_list": {
            "type": "array",
            "title": "Message Detail List",
            "description": "消息添加结果对象。",
            "items": {
              "$ref": "#/components/schemas/MessageDetail"
            }
          }
        },
        "title": "GetMessageResponseData"
      },
      "GetMessageResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/GetMessageResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息。"
          }
        },
        "title": "GetMessageResponse"
      },
      "SearchMemoryRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "查询的记忆所关联用户的唯一标识符。"
          },
          "agent_id": {
            "type": "string",
            "title": "Agent ID",
            "description": "查询的记忆所关联 Agent 的唯一标识符。仅开启「为 Agent 创建独立记忆」时可用，与 user_id 二选一。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "查询内容所在会话的唯一标识符，传入可以明确当前会话，本会话的记忆应当比其他历史会话的权重高。"
          },
          "query": {
            "type": "string",
            "title": "Query",
            "description": "要在记忆中查询的文本内容，单次查询文本的token上限为40k。"
          },
          "filter": {
            "type": "object",
            "title": "Filter",
            "description": "记忆过滤条件，用于在语义召回前缩小候选范围。可以直接用 <code>and</code> / <code>or</code> 做全局过滤，也可以按 <code>user</code>、<code>public</code>、<code>knowledgebase</code> 分来源过滤。完整字段和示例见 <a href=\"/cn/memos_cloud/features/filters\">记忆过滤</a>。",
            "properties": {
              "and": {
                "type": "array",
                "title": "And",
                "description": "全局 AND 条件数组。数组内所有条件都满足时，候选记忆才会进入语义召回。常用字段包括 <code>agent_id</code>、<code>app_id</code>、<code>tags.contains</code>、<code>create_time</code>、<code>update_time</code> 和 <code>info</code> 中的自定义字段。",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "or": {
                "type": "array",
                "title": "Or",
                "description": "全局 OR 条件数组。数组内任一条件满足时，候选记忆即可进入语义召回。",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "user": {
                "type": "object",
                "title": "User",
                "description": "用户个人记忆的过滤条件。",
                "properties": {
                  "and": {
                    "type": "array",
                    "description": "用户记忆的 AND 条件数组。",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "or": {
                    "type": "array",
                    "description": "用户记忆的 OR 条件数组。",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              },
              "public": {
                "type": "object",
                "title": "Public",
                "description": "项目级公共记忆的过滤条件。",
                "properties": {
                  "and": {
                    "type": "array",
                    "description": "公共记忆的 AND 条件数组。",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "or": {
                    "type": "array",
                    "description": "公共记忆的 OR 条件数组。",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              },
              "knowledgebase": {
                "type": "object",
                "title": "Knowledgebase",
                "description": "知识库记忆的过滤条件，仅作用于本次 <code>knowledgebase_ids</code> 允许访问的知识库范围。",
                "properties": {
                  "and": {
                    "type": "array",
                    "description": "知识库记忆的 AND 条件数组。",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "or": {
                    "type": "array",
                    "description": "知识库记忆的 OR 条件数组。",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "该字段用于限制当次搜索可访问的知识库范围，默认为空（即不检索任何知识库）。传入具体知识库 ID，则可检索指定的知识库；传入all，则可检索该项目下所有关联知识库。"
          },
          "include_memory_view": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "detail_factual",
                "preference",
                "skill",
                "profile",
                "event",
                "tool_memory"
              ]
            },
            "title": "Include Memory View",
            "description": "允许检索的记忆种类。不传时默认召回事实记忆（detail_factual）和偏好记忆（preference）。详细说明见 <a href=\"/cn/memos_cloud/introduction/memory_types\">记忆种类</a>。",
            "default": [
              "detail_factual",
              "preference"
            ]
          },
          "memory_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Memory Limit Number",
            "description": "召回的记忆条数上限，在满足相关性阈值（relativity）的前提下最多返回该数量的记忆，不保证返回固定条数。默认值 9，最大值 25。",
            "default": 9
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "召回记忆的相关性阈值（0~1）。用于过滤低相关记忆，并与限定返回的事实、偏好记忆最大条数，共同约束最终返回结果。不传时使用系统默认阈值，取值为0时表示不进行相关性过滤。",
            "default": 0.45
          }
        },
        "title": "SearchMemoryRequest"
      },
      "MemoryDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "事实记忆的唯一标识符，系统内部用于区分不同的记忆条目。"
          },
          "memory_key": {
            "type": "string",
            "title": "Memory Key",
            "description": "事实记忆的标题或关键词，用于概括该事实记忆的主要内容。"
          },
          "memory_value": {
            "type": "string",
            "title": "Memory Value",
            "description": "事实记忆的具体内容。"
          },
          "memory_type": {
            "type": "string",
            "enum": [
              "WorkingMemory",
              "LongTermMemory",
              "UserMemory"
            ],
            "title": "Memory Type",
            "description": "事实记忆类型。<br>WorkingMemory：工作记忆，临时存储的短期信息。<br>LongTermMemory：长期记忆，持久保存的重要信息或事实。<br>UserMemory：用户记忆，与特定用户相关的个性化信息。",
            "example": "LongTermMemory"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "事实记忆内容创建的时间，通常为 ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该事实记忆关联的会话的唯一标识符。"
          },
          "status": {
            "type": "string",
            "enum": [
              "activated"
            ],
            "title": "Status",
            "description": "事实记忆的状态，当前所有检索到的事实记忆都是activated。<br>activated：激活状态，当前可检索和使用的事实记忆。",
            "example": "activated"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Confidence",
            "description": "事实记忆的置信度分数，范围 0~1，数值越接近 1 表示该事实记忆越准确可靠。<br>置信度分数会随着模型对该事实记忆的推理次数增加而逐渐衰减，用于反映事实记忆随着时间或使用频率可能产生的不确定性。",
            "example": 0.95
          },
          "tags": {
            "type": "array",
            "title": "Tags",
            "description": "与事实记忆相关的标签列表，用于分类、检索或主题标记。数组中的每个元素都是string，例如 [\"人物\", \"事件\", \"工作\"]。",
            "items": {
              "type": "string"
            }
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "事实记忆最后一次被修改或更新的时间，通常为 ISO 8601 格式。"
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "查询内容与该事实记忆的相关性分数，范围 0~1，数值越接近 1 表示越相关。",
            "example": 0.87
          }
        },
        "title": "MemoryDetail"
      },
      "PreferenceDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "偏好记忆的唯一标识符，系统内部用于区分不同的记忆条目。"
          },
          "preference_type": {
            "type": "string",
            "enum": [
              "explicit_preference",
              "implicit_preference"
            ],
            "title": "Preference Type",
            "description": "偏好记忆类型。<br>explicit_preference：显式偏好记忆。<br>implicit_preference：隐式偏好记忆。",
            "example": "explicit_preference"
          },
          "preference": {
            "type": "string",
            "title": "Preference",
            "description": "偏好记忆的具体内容。"
          },
          "reasoning": {
            "type": "string",
            "title": "Reasoning",
            "description": "偏好记忆提取的原因。"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "偏好记忆内容创建的时间，通常为 ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该偏好记忆关联的会话的唯一标识符。"
          },
          "status": {
            "type": "string",
            "enum": [
              "activated"
            ],
            "title": "Status",
            "description": "偏好记忆的状态，当前所有检索到的偏好记忆都是activated。<br>activated：激活状态，当前可检索和使用的事实记忆。",
            "example": "activated"
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "偏好记忆最后一次被修改或更新的时间，通常为 ISO 8601 格式。"
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "查询内容与该偏好记忆的相关性分数，范围 0~1，数值越接近 1 表示越相关。",
            "example": 0.87
          }
        },
        "title": "PreferenceDetail"
      },
      "ToolUsedStatus": {
        "type": "object",
        "properties": {
          "used_tool": {
            "type": "string",
            "title": "Used Tool",
            "description": "使用的工具名称。"
          },
          "error_type": {
            "type": "string",
            "title": "Error Type",
            "description": "调用失败时的错误描述。"
          },
          "success_rate": {
            "type": "number",
            "title": "Success Rate",
            "description": "本次工具轨迹的成功率。"
          },
          "tool_experience": {
            "type": "string",
            "title": "Tool Experience",
            "description": "当前轨迹中该工具的经验。"
          }
        },
        "title": "ToolUsedStatus"
      },
      "ToolMemoryDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "工具记忆片段的唯一标识符。"
          },
          "tool_type": {
            "type": "string",
            "title": "Tool Type",
            "description": "工具记忆类型。ToolTrajectoryMemory 表示工具轨迹记忆；ToolSchema 表示工具信息记忆。",
            "enum": [
              "ToolTrajectoryMemory",
              "ToolSchema"
            ]
          },
          "tool_value": {
            "type": "string",
            "title": "Tool Value",
            "description": "工具记忆的具体内容。"
          },
          "tool_used_status": {
            "type": "array",
            "title": "Tool Used Status",
            "description": "工具轨迹记忆列表，每条记录包含使用的工具及经验信息。",
            "items": {
              "$ref": "#/components/schemas/ToolUsedStatus"
            }
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "工具记忆创建时间（ISO 8601 格式）。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该工具记忆关联的会话唯一标识符。"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "工具记忆状态，当前为 activated。",
            "enum": [
              "activated"
            ]
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "工具记忆最后一次更新的时间（ISO 8601 格式）。"
          },
          "relativity": {
            "type": "number",
            "title": "Relativity",
            "description": "工具记忆与查询内容的相关性分数。"
          },
          "experience": {
            "type": "string",
            "title": "Experience",
            "description": "整个轨迹的程序性经验，作为指导任务完成的总体经验。"
          }
        },
        "title": "ToolMemoryDetail"
      },
      "SkillValue": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "技能 Skill 的名称，用于展示与识别该能力。"
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "技能 Skill 的描述。"
          },
          "procedure": {
            "type": "string",
            "title": "Procedure",
            "description": "完成该任务的推荐流程或操作步骤。"
          },
          "experience": {
            "type": "array",
            "title": "Experience",
            "items": {
              "type": "string"
            },
            "description": "来自历史任务的经验沉淀，包括最佳实践、常见误区与避坑建议。"
          },
          "preference": {
            "type": "array",
            "title": "Preference",
            "items": {
              "type": "string"
            },
            "description": "用户在该类任务中的偏好设定，例如风格、约束条件或优先级。"
          },
          "examples": {
            "type": "array",
            "title": "Examples",
            "items": {
              "type": "string"
            },
            "description": "该技能 Skill 的典型使用示例，帮助 Agent 理解输入输出形式与使用边界。"
          },
          "script": {
            "type": "object",
            "title": "Script",
            "description": "用于完成该 Skill 的可复用代码脚本或逻辑实现。"
          },
          "others": {
            "type": "object",
            "title": "Others",
            "description": "其他补充信息。"
          }
        }
      },
      "SkillDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "技能 Skill 的唯一标识符，系统内部用于区分不同的记忆条目。"
          },
          "skill_value": {
            "type": "object",
            "title": "Skill Value",
            "description": "技能 Skill 的结构化内容，可直接转为字符串后注入 Agent 的 prompt。",
            "items": {
              "$ref": "#/components/schemas/SkillValue"
            }
          },
          "skill_url": {
            "type": "string",
            "title": "Skill Url",
            "description": "技能 Skill 的下载链接。Markdown Skill 可下载为 SKILL.md；ZIP 技能包可下载后获取 SKILL.md、脚本、参考资料等附件。"
          },
          "skill_type": {
            "type": "string",
            "title": "Skill Type",
            "description": "技能 Skill 的类型。"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "技能 Skill 内容创建的时间，通常为 ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该技能 Skill 关联的会话的唯一标识符。"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "技能 Skill 的状态，当前所有检索到的技能 Skill 都是 activated。activated：激活状态，当前可检索和使用的技能 Skill 。",
            "enum": [
              "activated"
            ]
          },
          "confidence": {
            "type": "number",
            "title": "Confidence",
            "description": "技能 Skill 的置信度分数，范围 0~1，数值越接近 1 表示该技能 Skill 越准确可靠。\n置信度分数会随着模型对该技能 Skill 的推理次数增加而逐渐衰减，用于反映技能 Skill 随着时间或使用频率可能产生的不确定性。"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "与技能 Skill 相关的标签列表，用于分类、检索或主题标记。数组中的每个元素都是string，例如 [\"人物\", \"事件\", \"工作\"]。"
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "技能 Skill 最后一次被修改或更新的时间，通常为 ISO 8601 格式"
          },
          "relativity": {
            "type": "string",
            "title": "Relativity",
            "description": "查询内容与该技能 Skill 的相关性分数，范围 0~1，数值越接近 1 表示越相关。"
          }
        },
        "title": "SkillDetail"
      },
      "SearchProfileDetail": {
        "type": "object",
        "title": "SearchProfileDetail",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "属性记忆的唯一标识符。"
          },
          "memory": {
            "type": "string",
            "title": "Memory",
            "description": "属性记忆内容。"
          },
          "memory_type": {
            "type": "string",
            "title": "Memory Type",
            "description": "记忆类型，属性记忆为 ProfileMemory。",
            "enum": [
              "ProfileMemory"
            ]
          },
          "template_id": {
            "type": "string",
            "title": "Template ID",
            "description": "属性模板 ID。"
          },
          "profile_category": {
            "type": "string",
            "title": "Profile Category",
            "description": "属性分类，例如「基础信息」。"
          },
          "profile_field": {
            "type": "string",
            "title": "Profile Field",
            "description": "属性字段名，例如「职业」。"
          },
          "profile_path": {
            "type": "string",
            "title": "Profile Path",
            "description": "属性路径，例如「基础信息.职业」。"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "属性记忆状态，当前检索结果均为 activated。",
            "enum": [
              "activated"
            ]
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "属性记忆创建时间，ISO 8601 格式。"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "属性记忆最后一次更新时间，ISO 8601 格式。"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Confidence",
            "description": "属性记忆的置信度分数，范围 0~1。"
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "查询内容与该属性字段的相关性分数，范围 0~1。"
          },
          "algorithm_updatable": {
            "type": "boolean",
            "title": "Algorithm Updatable",
            "description": "该属性字段是否允许算法自动更新。"
          }
        }
      },
      "SearchEventDetail": {
        "type": "object",
        "title": "SearchEventDetail",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "事件记忆的唯一标识符。"
          },
          "event_key": {
            "type": "string",
            "title": "Event Key",
            "description": "事件记忆的标题或关键词。"
          },
          "event_value": {
            "type": "string",
            "title": "Event Value",
            "description": "事件记忆的具体内容。"
          },
          "event_type": {
            "type": "string",
            "title": "Event Type",
            "description": "事件记忆类型，通常为 EventMemory。"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "事件记忆创建时间，ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该事件记忆关联的会话唯一标识符。"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "事件记忆状态，当前检索结果均为 activated。",
            "enum": [
              "activated"
            ]
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "事件记忆最后一次更新时间，ISO 8601 格式。"
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "查询内容与该事件记忆的相关性分数，范围 0~1。"
          },
          "event_time": {
            "type": "array",
            "title": "Event Time",
            "description": "事件时间列表。",
            "items": {
              "type": "string"
            }
          },
          "event_location": {
            "type": "array",
            "title": "Event Location",
            "description": "事件地点列表。",
            "items": {
              "type": "string"
            }
          },
          "event_roles": {
            "type": "array",
            "title": "Event Roles",
            "description": "事件参与者列表。",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SearchMemoryResponseData": {
        "type": "object",
        "title": "SearchMemoryResponseData",
        "properties": {
          "memory_detail_list": {
            "type": "array",
            "title": "Memory Detail List",
            "description": "返回的事实记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/MemoryDetail"
            }
          },
          "preference_detail_list": {
            "type": "array",
            "title": "Preference Detail List",
            "description": "返回的偏好记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/PreferenceDetail"
            }
          },
          "profile_detail_list": {
            "type": "array",
            "title": "Profile Detail List",
            "description": "返回的属性记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/SearchProfileDetail"
            }
          },
          "event_detail_list": {
            "type": "array",
            "title": "Event Detail List",
            "description": "返回的事件记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/SearchEventDetail"
            }
          },
          "tool_memory_detail_list": {
            "type": "array",
            "title": "Tool Memory Detail List",
            "description": "返回的工具记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/ToolMemoryDetail"
            }
          },
          "preference_note": {
            "type": "string",
            "title": "Preference Note",
            "description": "召回偏好记忆时，返回的偏好使用说明。"
          },
          "skill_detail_list": {
            "type": "array",
            "title": "Skill Detail List",
            "description": "返回的技能 Skill 详情列表。",
            "items": {
              "$ref": "#/components/schemas/SkillDetail"
            }
          }
        }
      },
      "SearchMemoryResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/SearchMemoryResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息。"
          }
        },
        "title": "SearchMemoryResponse"
      },
      "GetMemoryRequest": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "获取的记忆所关联用户的唯一标识符。"
          },
          "agent_id": {
            "type": "string",
            "title": "Agent ID",
            "description": "获取的记忆所关联 Agent 的唯一标识符。仅开启「为 Agent 创建独立记忆」时可用，与 user_id 二选一。"
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "分页页码，用于在返回结果较多时进行分页控制。",
            "default": 1
          },
          "size": {
            "type": "integer",
            "title": "Size",
            "description": "指定每一类记忆在当前页返回的条目数量，最大值为50。",
            "default": 10
          },
          "filter": {
            "type": "object",
            "title": "Filter",
            "description": "记忆过滤的条件，用于在获取记忆前精确限定记忆范围。可用字段包括：\"agent_id\", \"app_id\", \"create_time\", \"update_time\"以及\"info\"中的字段。支持逻辑运算符（and，or）和比较运算符（gte、lte、gt、lt）。对于\"info\"字段，支持过滤传入的\"business_type\", \"biz_id\", \"scene\"和其他自定义字段。",
            "example": "{\"and\": [{\"create_time\":{\"gte\":\"...\"}}]}"
          },
          "include_memory_view": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "detail_factual",
                "preference",
                "skill",
                "profile",
                "event",
                "tool_memory"
              ]
            },
            "title": "Include Memory View",
            "description": "允许获取的记忆种类，不传时默认获取所有种类的记忆。全部种类及取值说明见 <a href=\"/cn/memos_cloud/introduction/memory_types\">记忆种类</a>。"
          }
        },
        "title": "GetMemoryRequest"
      },
      "GetProfileMemoryDetail": {
        "type": "object",
        "title": "GetProfileMemoryDetail",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "属性记忆实例的唯一标识符。"
          },
          "project_id": {
            "type": "string",
            "title": "Project ID",
            "description": "项目 ID。"
          },
          "profile_template_id": {
            "type": "string",
            "title": "Profile Template ID",
            "description": "属性模板 ID。"
          },
          "properties": {
            "type": "object",
            "title": "Properties",
            "description": "属性记忆的结构化字段树。",
            "additionalProperties": true
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "属性记忆状态，当前仅返回 activated。",
            "enum": [
              "activated"
            ]
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "属性记忆创建时间，ISO 8601 格式。"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "属性记忆最后一次更新时间，ISO 8601 格式。"
          }
        }
      },
      "GetEventMemoryDetail": {
        "type": "object",
        "title": "GetEventMemoryDetail",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "事件记忆的唯一标识符。"
          },
          "event_key": {
            "type": "string",
            "title": "Event Key",
            "description": "事件记忆的标题或关键词。"
          },
          "event_value": {
            "type": "string",
            "title": "Event Value",
            "description": "事件记忆的具体内容。"
          },
          "event_type": {
            "type": "string",
            "title": "Event Type",
            "description": "事件记忆类型，通常为 EventMemory。"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "事件记忆创建时间，ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该事件记忆关联的会话唯一标识符。"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "事件记忆状态，当前仅返回 activated。",
            "enum": [
              "activated"
            ]
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "事件记忆最后一次更新时间，ISO 8601 格式。"
          },
          "info": {
            "type": "object",
            "title": "Info",
            "description": "事件记忆的扩展信息。",
            "additionalProperties": true
          },
          "sources": {
            "type": "array",
            "title": "Sources",
            "description": "事件记忆的来源消息列表。",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "event_time": {
            "type": "array",
            "title": "Event Time",
            "description": "事件时间列表。",
            "items": {
              "type": "string"
            }
          },
          "event_location": {
            "type": "array",
            "title": "Event Location",
            "description": "事件地点列表。",
            "items": {
              "type": "string"
            }
          },
          "event_roles": {
            "type": "array",
            "title": "Event Roles",
            "description": "事件参与者列表。",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GetMemoryDetail": {
        "type": "object",
        "title": "GetMemoryDetail",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "事实记忆的唯一标识符。"
          },
          "memory_key": {
            "type": "string",
            "title": "Memory Key",
            "description": "事实记忆的标题或关键词。"
          },
          "memory_value": {
            "type": "string",
            "title": "Memory Value",
            "description": "事实记忆的具体内容。"
          },
          "memory_type": {
            "type": "string",
            "title": "Memory Type",
            "description": "事实记忆类型。",
            "enum": [
              "WorkingMemory",
              "LongTermMemory",
              "UserMemory"
            ]
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "事实记忆创建时间，ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该事实记忆关联的会话唯一标识符。"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "事实记忆状态，当前仅返回 activated。",
            "enum": [
              "activated"
            ]
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Confidence",
            "description": "事实记忆的置信度分数，范围 0~1。"
          },
          "tags": {
            "type": "array",
            "title": "Tags",
            "description": "与事实记忆相关的标签列表。",
            "items": {
              "type": "string"
            }
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "事实记忆最后一次更新时间，ISO 8601 格式。"
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "事实记忆的相关性分数，范围 0~1。"
          },
          "sources": {
            "type": "array",
            "title": "Sources",
            "description": "事实记忆的来源消息列表。",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "info": {
            "type": "object",
            "title": "Info",
            "description": "添加消息时自定义的元信息字段。",
            "additionalProperties": true
          }
        }
      },
      "GetPreferenceDetail": {
        "type": "object",
        "title": "GetPreferenceDetail",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "偏好记忆的唯一标识符。"
          },
          "preference_type": {
            "type": "string",
            "title": "Preference Type",
            "description": "偏好记忆类型。",
            "enum": [
              "explicit_preference",
              "implicit_preference"
            ]
          },
          "preference": {
            "type": "string",
            "title": "Preference",
            "description": "偏好记忆的具体内容。"
          },
          "reasoning": {
            "type": "string",
            "title": "Reasoning",
            "description": "偏好记忆提取的原因。"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "偏好记忆创建时间，ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该偏好记忆关联的会话唯一标识符。"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "偏好记忆状态，当前仅返回 activated。",
            "enum": [
              "activated"
            ]
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "偏好记忆最后一次更新时间，ISO 8601 格式。"
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "偏好记忆的相关性分数，范围 0~1。"
          },
          "sources": {
            "type": "array",
            "title": "Sources",
            "description": "偏好记忆的来源消息列表。",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "info": {
            "type": "object",
            "title": "Info",
            "description": "添加消息时自定义的元信息字段。",
            "additionalProperties": true
          }
        }
      },
      "GetToolMemoryDetail": {
        "type": "object",
        "title": "GetToolMemoryDetail",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "工具记忆片段的唯一标识符。"
          },
          "tool_type": {
            "type": "string",
            "title": "Tool Type",
            "description": "工具记忆类型。ToolTrajectoryMemory 表示工具轨迹记忆；ToolSchema 表示工具信息记忆。",
            "enum": [
              "ToolTrajectoryMemory",
              "ToolSchema"
            ]
          },
          "tool_value": {
            "type": "string",
            "title": "Tool Value",
            "description": "工具记忆的具体内容。"
          },
          "tool_used_status": {
            "type": "array",
            "title": "Tool Used Status",
            "description": "工具轨迹记忆列表，每条记录包含使用的工具及经验信息。",
            "items": {
              "$ref": "#/components/schemas/ToolUsedStatus"
            }
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "工具记忆创建时间，ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该工具记忆关联的会话唯一标识符。"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "工具记忆状态，当前为 activated。",
            "enum": [
              "activated"
            ]
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "工具记忆最后一次更新时间，ISO 8601 格式。"
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "工具记忆的相关性分数，范围 0~1。"
          },
          "source": {
            "type": "string",
            "title": "Source",
            "description": "工具记忆的来源信息。"
          },
          "experience": {
            "type": "string",
            "title": "Experience",
            "description": "整个轨迹的程序性经验，作为指导任务完成的总体经验。"
          },
          "info": {
            "type": "object",
            "title": "Info",
            "description": "添加消息时自定义的元信息字段。",
            "additionalProperties": true
          }
        }
      },
      "GetMemoryResponseData": {
        "type": "object",
        "title": "GetMemoryResponseData",
        "properties": {
          "memory_detail_list": {
            "type": "array",
            "title": "Memory Detail List",
            "description": "返回的事实记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/GetMemoryDetail"
            }
          },
          "preference_detail_list": {
            "type": "array",
            "title": "Preference Detail List",
            "description": "返回的偏好记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/GetPreferenceDetail"
            }
          },
          "profile_detail_list": {
            "type": "array",
            "title": "Profile Detail List",
            "description": "返回的属性记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/GetProfileMemoryDetail"
            }
          },
          "event_detail_list": {
            "type": "array",
            "title": "Event Detail List",
            "description": "返回的事件记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/GetEventMemoryDetail"
            }
          },
          "tool_memory_detail_list": {
            "type": "array",
            "title": "Tool Memory Detail List",
            "description": "返回的工具记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/GetToolMemoryDetail"
            }
          },
          "skill_detail_list": {
            "type": "array",
            "title": "Skill Detail List",
            "description": "返回的技能 Skill 详情列表。",
            "items": {
              "$ref": "#/components/schemas/SkillDetail"
            }
          },
          "total": {
            "type": "integer",
            "description": "获取的各类记忆总数中的最大值，用于判断是否存在下一页。"
          },
          "size": {
            "type": "integer",
            "description": "每一类记忆在当前页返回的条目数量。"
          },
          "current": {
            "type": "integer",
            "description": "当前获取的记忆所在页数。"
          },
          "pages": {
            "type": "integer",
            "description": "获取记忆的总页数。"
          }
        }
      },
      "GetMemoryResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "title": "GetMemoryResponse",
        "properties": {
          "code": {
            "type": "number",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅错误码列表了解详情。"
          },
          "data": {
            "$ref": "#/components/schemas/GetMemoryResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息。"
          }
        }
      },
      "DeleteMemoryRequest": {
        "type": "object",
        "properties": {
          "memory_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Memory IDs",
            "description": "需要删除的记忆 ID 列表。"
          },
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "删除该用户在当前项目下的全部记忆。与 memory_ids、agent_id 互斥。"
          },
          "agent_id": {
            "type": "string",
            "title": "Agent ID",
            "description": "删除该 Agent 在当前项目下的全部记忆。仅开启「为 Agent 创建独立记忆」时可用。与 memory_ids、user_id 互斥。"
          }
        },
        "title": "DeleteMemoryRequest"
      },
      "DeleteMemoryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "是否删除成功。true 表示成功，false 表示失败。",
                "example": true
              }
            },
            "description": "返回删除信息"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "删除提示信息"
          }
        },
        "title": "DeleteMemoryResponse"
      },
      "AddFeedbackRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "feedback_content"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "反馈内容所关联的用户唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "反馈内容所关联的会话唯一标识符。"
          },
          "feedback_content": {
            "type": "string",
            "title": "Feedback Content",
            "description": "反馈内容文本。"
          },
          "agent_id": {
            "type": "string",
            "title": "Agent ID",
            "description": "反馈内容所关联的Agent唯一标识符，主要用于在检索记忆时查询某用户与该Agent的专属记忆。"
          },
          "app_id": {
            "type": "string",
            "title": "App ID",
            "description": "反馈内容所关联的应用唯一标识符，主要用于在检索记忆时查询某用户在该App下的专属记忆。"
          },
          "feedback_time": {
            "type": "string",
            "title": "Feedback Time",
            "description": "反馈发生的时间，可传入结构化时间或自然语言时间描述。传入该参数能够让记忆携带时间信息。"
          },
          "allow_public": {
            "type": "boolean",
            "title": "Allow Public",
            "description": "反馈内容，产生的记忆，是否允许写入公共记忆库。开启后，生成的记忆可被项目下的其他用户检索。 ",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Allow Knowledgebase IDs",
            "description": "反馈内容产生的记忆，允许被写入的知识库列表。"
          }
        },
        "title": "AddFeedbackRequest"
      },
      "AddFeedbackResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "是否添加成功。true 表示成功，false 表示失败。"
              },
              "status": {
                "type": "string",
                "title": "Status",
                "description": "任务状态：running（运行中），completed（完成）"
              },
              "task_id": {
                "type": "string",
                "title": "Task ID",
                "description": "任务id"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "AddFeedbackResponse"
      },
      "TaskStatusMemoryViewIds": {
        "type": "object",
        "title": "Task Status Memory View IDs",
        "properties": {
          "memory_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Memory IDs",
            "description": "本次任务在该<a href=\"/cn/memos_cloud/introduction/memory_types\">记忆种类</a>下触达的记忆 ID 列表。"
          }
        }
      },
      "TaskStatusMemoryViews": {
        "type": "object",
        "title": "Task Status Memory Views",
        "description": "任务完成后返回的本轮记忆变更汇总。",
        "properties": {
          "added": {
            "type": "integer",
            "title": "Added",
            "description": "本次任务新增的记忆数量。"
          },
          "updated": {
            "type": "integer",
            "title": "Updated",
            "description": "本次任务更新的记忆数量。"
          },
          "deleted": {
            "type": "integer",
            "title": "Deleted",
            "description": "本次任务删除或归档的记忆数量。"
          },
          "detail_factual": {
            "$ref": "#/components/schemas/TaskStatusMemoryViewIds"
          },
          "preference": {
            "$ref": "#/components/schemas/TaskStatusMemoryViewIds"
          },
          "event": {
            "$ref": "#/components/schemas/TaskStatusMemoryViewIds"
          },
          "profile": {
            "$ref": "#/components/schemas/TaskStatusMemoryViewIds"
          },
          "skill": {
            "$ref": "#/components/schemas/TaskStatusMemoryViewIds"
          },
          "tool_memory": {
            "$ref": "#/components/schemas/TaskStatusMemoryViewIds"
          }
        }
      },
      "OpenMemGetStatusData": {
        "type": "object",
        "title": "OpenMem Get Status Data",
        "properties": {
          "task_id": {
            "type": "string",
            "title": "Task ID",
            "description": "异步任务 ID，与请求中的 task_id 一致。"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "enum": [
              "running",
              "completed",
              "failed"
            ],
            "description": "任务当前状态：`running` 处理中，`completed` 已完成，`failed` 失败。"
          },
          "memory_views": {
            "$ref": "#/components/schemas/TaskStatusMemoryViews",
            "description": "仅当 status 为 completed 且存在记忆变更明细时返回；running / failed 时不返回。"
          }
        }
      },
      "GetStatusRequest": {
        "type": "object",
        "required": [
          "task_id"
        ],
        "properties": {
          "task_id": {
            "type": "string",
            "title": "Task ID",
            "description": "异步任务 ID，来自 add/message、add/feedback 等接口响应中的 task_id。"
          }
        },
        "title": "GetStatusRequest"
      },
      "GetStatusResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "$ref": "#/components/schemas/OpenMemGetStatusData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "GetStatusResponse"
      },
      "CreateKnowledgebaseRequest": {
        "type": "object",
        "required": [
          "knowledgebase_name"
        ],
        "properties": {
          "knowledgebase_name": {
            "type": "string",
            "title": "Knowledgebase Name",
            "description": "知识库名称"
          },
          "knowledgebase_description": {
            "type": "string",
            "title": "Knowledgebase Description",
            "description": "描述信息"
          }
        },
        "title": "CreateKnowledgebaseRequest"
      },
      "CreateKnowledgebaseResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "id": {
                "type": "string",
                "title": "KNOWLEDGEBASE ID",
                "description": "创建成功后返回的知识库 ID"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "CreateKnowledgebaseResponse"
      },
      "DeleteKnowledgebaseRequest": {
        "type": "object",
        "required": [
          "knowledgebase_id"
        ],
        "properties": {
          "knowledgebase_id": {
            "type": "string",
            "title": "Knowledgebase ID",
            "description": "要移除的知识库ID"
          }
        },
        "title": "DeleteKnowledgebaseRequest"
      },
      "DeleteKnowledgebaseResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "是否移除成功。true 表示成功，false 表示失败。"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "DeleteKnowledgebaseResponse"
      },
      "UploadFileRequest": {
        "type": "object",
        "required": [
          "knowledgebase_id",
          "file"
        ],
        "properties": {
          "knowledgebase_id": {
            "type": "string",
            "title": "Knowledgebase ID",
            "description": "目标知识库ID"
          },
          "file": {
            "type": "array",
            "title": "File",
            "description": "上传文件列表。普通文档按文档解析流程处理；Skill 文件按 Skill 校验和解析流程处理。",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "title": "Name",
                  "description": "上传的文件名称。上传 Base64 内容时建议填写；上传 URL 时可不填。"
                },
                "type": {
                  "type": "string",
                  "title": "Type",
                  "enum": [
                    "document",
                    "skill"
                  ],
                  "default": "document",
                  "description": "上传文件类型。document 表示普通知识库文档；skill 表示 Skill 文件，支持 .md 单文件或 .zip 技能包。"
                },
                "content": {
                  "type": "string",
                  "title": "Content",
                  "description": "文件内容，支持 URL 或 Base64 编码。普通文档和 Skill 文件的支持格式、大小与数量限制，请查看<a href=\"/memos_cloud/features/knowledge_base\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">知识库要求</a>。"
                }
              }
            }
          }
        },
        "title": "UploadFileRequest"
      },
      "UploadFileResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "array",
            "title": "Data",
            "description": "上传文件的处理结果列表。",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "title": "ID",
                  "description": "文件 ID"
                },
                "type": {
                  "type": "string",
                  "title": "Type",
                  "enum": [
                    "document",
                    "skill"
                  ],
                  "description": "文件类型。document 表示普通文档；skill 表示 Skill 文件。"
                },
                "name": {
                  "type": "string",
                  "title": "Name",
                  "description": "文件名称"
                },
                "sizeMB": {
                  "type": "number",
                  "title": "Size MB",
                  "description": "文件大小，单位 MB"
                },
                "status": {
                  "type": "string",
                  "title": "Status",
                  "description": "文件处理状态",
                  "enum": [
                    "running",
                    "completed",
                    "failed"
                  ]
                }
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口信息"
          }
        },
        "title": "UploadFileResponse"
      },
      "GetFileRequest": {
        "type": "object",
        "description": "获取指定文件列表或指定知识库下的文件列表信息",
        "properties": {
          "knowledgebase_id": {
            "type": "string",
            "title": "Knowledgebase ID",
            "description": "目标知识库 ID，不能与 file_ids 同时传。"
          },
          "type": {
            "type": "string",
            "title": "Type",
            "enum": [
              "document",
              "skill"
            ],
            "description": "文件类型筛选，仅在使用 knowledgebase_id 查询时生效。document 仅返回普通文档；skill 仅返回技能文件；不传则返回全部文件。"
          },
          "page": {
            "type": "integer",
            "format": "int32",
            "title": "Page",
            "description": "分页页码，仅在使用 knowledgebase_id 查询时生效。",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "format": "int32",
            "title": "Page Size",
            "description": "每页条数，仅在使用 knowledgebase_id 查询时生效。",
[...]
