{
  "openapi": "3.1.0",
  "info": {
    "title": "MemOS Dashboard APIs",
    "description": "Dashboard API for managing messages and searching memories in MemOS.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://memos.memtensor.cn/api/openmem/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "paths": {
    "/add/message": {
      "post": {
        "summary": "Add Message",
        "description": "This API allows you to add one or more messages to a specific conversation. As illustrated in the examples bellow, you can add messages in real time during a user-assistant interaction, import historical messages in bulk, or enrich the conversation with user preferences and behavior data. All added messages are transformed into memories by MemOS, enabling their retrieval in future conversations to support chat history management, user behavior tracking, and personalized interactions.",
        "operationId": "add_message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMessageRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "conversation_id": "0610",
                "messages": [
                  { "role": "user", "content": "I want to travel during summer vacation, can you recommend something?" },
                  { "role": "assistant", "content": "Sure! Are you traveling alone, with family or with friends?" },
                  { "role": "user", "content": "I'm bringing my kid. My family always travels together." },
                  { "role": "assistant", "content": "Got it, so you're traveling with your children as a family, right?" },
                  { "role": "user", "content": "Yes, with both kids and elderly, we usually travel as a whole family." },
                  { "role": "assistant", "content": "Understood, I'll recommend destinations suitable for family trips." }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/message": {
      "post": {
        "summary": "Get Message",
        "description": "This API retrieves the historical conversation records between a user and the assistant for a specified session, with the option to limit the number of results. As shown in the examples bellow, you can use the returned recent messages as references for the model when generating responses, maintaining dialogue coherence and contextual understanding. It can also be used to restore chat context when a user refreshes or reopens the app, ensuring a seamless user experience and supporting personalized interactions.",
        "operationId": "get_message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMessageRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "conversation_id": "0928",
                "message_limit_number": 6
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/memory": {
      "post": {
        "summary": "Search Memory",
        "description": "This API queries a user’s memory and returns the fragments most relevant to the input for the Agent to use. Returned memory can include Fact Memory, Preference Memory, Tool Memory, and Skill. Skills can be auto-generated from user conversations or uploaded as custom Skill files in a Knowledge Base.",
        "operationId": "search_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchMemoryRequest"
              },
              "example": {
                "query": "Summarize my memories related to reading this year",
                "user_id": "memos_user_123",
                "conversation_id": "0928",
                "knowledgebase_ids": [
                  "kb_xxx"
                ],
                "filter": {
                  "knowledgebase": {
                    "and": [
                      {
                        "tags": {
                          "contains": "reading"
                        }
                      },
                      {
                        "create_time": {
                          "gte": "2025-01-01"
                        }
                      },
                      {
                        "create_time": {
                          "lte": "2025-12-31"
                        }
                      }
                    ]
                  },
                  "user": {
                    "and": [
                      {
                        "scene": "chat"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMemoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chat": {
      "post": {
        "summary": "Chat",
        "description": "",
        "operationId": "chat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "stream": false,
                "query": "What fun places are in Shanghai?",
                "model_name": "deepseek-r1",
                "conversation_id": "23006762-a064-456e-a33b-d2452bdfa09f",
                "knowledgebase_ids": [
                  "2448808afa784cc5f7595da21ae5a3fd"
                ],
                "filter": {
                  "and": [
                    {
                      "create_time": {
                        "gt": "2025-09-19"
                      }
                    }
                  ]
                },
                "system_prompt": "Recommend parks",
                "add_message_on_answer": false,
                "allow_public": false,
                "allow_knowledgebase_ids": [],
                "agent_id": "agent_id_2025-12-15-01",
                "app_id": "app_id_2025-12-15-01",
                "tags": [],
                "info": {},
                "max_tokens": 8192,
                "temperature": 0.7,
                "top_p": 0.95
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatStreamResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/memory": {
      "post": {
        "summary": "Get Memory",
        "description": "Retrieve a user’s memories, including factual, preference, and tool memories.",
        "operationId": "get_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMemoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/memory": {
      "post": {
        "summary": "Delete Memory",
        "description": "This API is used to delete specified user memories, supporting batch deletion.",
        "operationId": "delete_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteMemoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/add/feedback": {
      "post": {
        "summary": "Add Feedback",
        "description": "This API is used to add feedback to current session messages, allowing MemOS to correct memories based on user feedback.",
        "operationId": "add_feedback",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddFeedbackResponse"
                }
              }
            }
          }
        }
      }
    },
    "/extract/memory": {
      "post": {
        "summary": "Extract Memory",
        "description": "Uses MemOS’s self-developed extraction model to extract and return fact and preference memories directly from conversation messages.",
        "operationId": "extract_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractMemoryRequest"
              },
              "example": {
                "messages": [
                  {
                    "role": "user",
                    "content": "I’ve planned a summer trip to Guangzhou. What chain hotels can you recommend for accommodation?"
                  },
                  {
                    "role": "assistant",
                    "content": "You can consider options like 7 Days Inn, All Seasons, Hilton, and others."
                  },
                  {
                    "role": "user",
                    "content": "I’ll go with 7 Days Inn."
                  },
                  {
                    "role": "assistant",
                    "content": "Alright—ask me anytime if you have more questions."
                  }
                ],
                "extraction_types": [
                  "memory",
                  "preference"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractMemoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rerank": {
      "post": {
        "summary": "Rerank Memory",
        "description": "Provides a memory reranking API based on the memos-reranker small model. It takes a user query and a list of candidate memories and completes memory relevance reranking with a single call.",
        "operationId": "rerank",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerankRequest"
              },
              "example": {
                "model": "memos-reranker-0.6b",
                "query": "What are the user's hobbies?",
                "documents": [
                  "User likes playing badminton.",
                  "User is a backend developer in Hangzhou.",
                  "User prefers concise replies.",
                  "User prefers Jiangxiang-flavored baijiu.",
                  "User is going on a business trip to Beijing next Wednesday."
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RerankResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/status": {
      "post": {
        "summary": "Get Task Status",
        "description": "Get the status of an asynchronous processing task.",
        "operationId": "get_status",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/create/knowledgebase": {
      "post": {
        "summary": "Create Knowledgebase",
        "description": "Create a knowledgebase associated with the project.",
        "operationId": "create_knowledgebase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgebaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKnowledgebaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/knowledgebase": {
      "post": {
        "summary": "Delete Knowledgebase",
        "description": "Delete a knowledgebase from the current project. To permanently delete it, please operate from the Console - Knowledgebase page.",
        "operationId": "delete_knowledgebase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteKnowledgebaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteKnowledgebaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/add/knowledgebase-file": {
      "post": {
        "summary": "Create Knowledgebase File",
        "description": "Upload files to a specified Knowledge Base. By default, files are uploaded as documents. When file[].type is skill, upload a Markdown Skill file or ZIP Skill package.",
        "operationId": "add_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/knowledgebase-file": {
      "post": {
        "summary": "Get Knowledgebase File",
        "description": "Get file information in one of two ways: pass file_ids to retrieve specific file details, or pass knowledgebase_id to list files under a Knowledge Base. Choose only one mode; passing both knowledgebase_id and file_ids returns an error.",
        "operationId": "get_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/knowledgebase-file": {
      "post": {
        "summary": "Delete Knowledgebase File",
        "description": "Delete files from a specified Knowledge Base. When a Skill file is deleted, the associated Skill is deleted as well.",
        "operationId": "delete_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Token API_key, available in <a href=\"https://memos-dashboard.openmem.net/apikeys/\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\" target=\"_blank\">API Console > API Keys</a>"
      }
    },
    "schemas": {
      "ChatRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "query"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "Unique identifier of the user associated with the conversation."
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "Unique identifier of the conversation. Providing this clarifies the current session, prioritizing its memory over historical sessions. If omitted, cross-session memory retrieval is performed for more relevant responses."
          },
          "query": {
            "type": "string",
            "title": "Query",
            "description": "User input content."
          },
          "filter": {
            "type": "object",
            "title": "Filter",
            "description": "Filter conditions, used to precisely limit the memory scope before retrieval. Available fields include: \"agent_id\", \"app_id\", \"create_time\", \"update_time\", and specific fields in \"info\". Supports logical operators (and, or) and comparison operators (gte, lte, gt, lt). For the \"info\" field, supports filtering by \"business_type\", \"biz_id\", \"scene\", and other custom fields.",
            "example": "{\"and\": [{\"create_time\":{\"gte\":\"...\"}}]}"
          },
          "knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Knowledgebase IDs",
            "description": "Specifies the scope of Knowledge Bases accessible for the current search. Defaults to empty, meaning no Knowledge Bases are searched. Pass specific Knowledge Base IDs to search ordinary documents and uploaded Skills in those Knowledge Bases; pass \"all\" to search across all associated Knowledge Bases within the project."
          },
          "memory_limit_number": {
            "type": "integer",
            "title": "Memory Limit Number",
            "description": "Maximum number of memories that can be recalled: as long as the relevance threshold (relativity) is met, up to this many memories may be returned. Default is 9, maximum is 25.",
            "default": 9
          },
          "include_preference": {
            "type": "boolean",
            "title": "Include Preference",
            "description": "Whether to recall preference memories. When enabled, the system intelligently recalls memories related to user preferences based on the query. Default = true.",
            "default": true
          },
          "preference_limit_number": {
            "type": "integer",
            "title": "Preference Limit Number",
            "description": "Maximum number of preferred memories that can be recalled: as long as the relevance threshold (relativity) is met, up to this many preference memories may be returned. Default is 9, maximum is 25.",
            "default": 9
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "Relevance threshold (0–1) for recalled memories. Filters out low-relevance memories and, together with the maximum counts for factual and preferred recalls, constrains the final results. When omitted, the system default threshold is used. A value of 0 disables relevance filtering.",
            "default": 0.45
          },
          "model_name": {
            "type": "string",
            "enum": [
              "qwen3-32b",
              "deepseek-r1",
              "qwen2.5-72b-instruct"
            ],
            "title": "Model Name",
            "description": "Specifies the concrete conversation model.",
            "default": "qwen2.5-72b-instruct"
          },
          "system_prompt": {
            "type": "string",
            "title": "System Prompt",
            "description": "Custom system instructions."
          },
          "stream": {
            "type": "boolean",
            "title": "Stream",
            "description": "Whether to enable streaming response.",
            "default": false
          },
          "max_tokens": {
            "type": "integer",
            "title": "Max Tokens",
            "description": "Indicates the maximum number of generated tokens.",
            "default": 8192
          },
          "temperature": {
            "type": "number",
            "title": "Temperature",
            "description": "Controls generation randomness. Range: 0 ≤ x ≤ 2.",
            "default": 0.7
          },          
          "top_p": {
            "type": "number",
            "title": "Top P",
            "description": "Nucleus sampling parameter. Range: 0 ≤ x ≤ 1.",
            "default": 0.95
          },
         "add_message_on_answer": {
            "type": "boolean",
            "title": "Add Message On Answer",
            "description": "Whether to automatically write user and assistant conversation content into memory. When enabled, developers do not need to call the add/message API to add messages as memory.",
            "default": true
          },
          "app_id": {
            "type": "string",
            "title": "App ID",
            "description": "Unique identifier of the application associated with the conversation."
          },
          "agent_id": {
            "type": "string",
            "title": "Agent ID",
            "description": "Unique identifier of the Agent associated with the conversation."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Tags",
            "description": "List of custom tags used to mark the topic or category of the conversation."
          },
          "info": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "title": "Info",
            "description": "Custom metadata field capable of storing any structured data related to the conversation, such as location, source, version, etc., primarily for precise filtering or source tracking during retrieval."
          },
          "allow_public": {
            "type": "boolean",
            "title": "Allow Public",
            "description": "Whether to allow adding to public memory.",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Allow Knowledgebase IDs",
            "description": "List of knowledgebases where memories generated from added messages are allowed to be written."
          }
        },
        "title": "ChatRequest"
      },
      "ChatResponseData": {
        "type": "object",
        "title": "ChatResponseData",
        "properties": {
          "response": {
            "type": "string",
            "title": "Response",
            "description": "Specific content of the answer."
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "API status code. See <a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">Error Code List</a> for details."
          },
          "data": {
            "$ref": "#/components/schemas/ChatResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Message"
          }
        },
        "title": "ChatResponse"
      },
      "ChatStreamResponse": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "description": "Stream event name, currently defaults to message.",
            "default": "message"
          },
          "data": {
            "type": "object",
            "description": "Streamed data content.",
            "properties": {
              "type": {
                "type": "string",
                "description": "Stream message type, used to identify the semantic category of the current data.<br>reasoning: Reasoning content<br>text: Normal text content<br>end: End of stream indicator",
                "enum": [
                  "reasoning",
                  "text",
                  "end"
                ]
              },
              "data": {
                "type": "string",
                "description": "Streamed text content."
              }
            }
          }
        },
        "title": "ChatStreamResponse"
      },
      "AddMessageRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "messages"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "Unique identifier of the user associated with the message."
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "Unique identifier of the conversation."
          },
          "messages": {
            "type": "array",
            "title": "Messages",
            "description": "Array of message objects representing the memory content. The total token limit for the message array is 20k. Each object contains:",
            "items": {
              "$ref": "#/components/schemas/MessageInput"
            }
          },
          "agent_id": {
            "type": "string",
            "description": "Unique identifier of the Agent associated with the added message, primarily used to query exclusive memories between a user and that Agent during retrieval."
          },
          "app_id": {
            "type": "string",
            "description": "Unique identifier of the App associated with the added message, primarily used to query exclusive memories of a user under that App during retrieval."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of custom tags used to mark the topic or category of the added message.",
            "default": []
          },
          "info": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "Custom metadata field capable of storing any structured data related to the added message, such as location, source, version, etc., primarily for precise filtering or source tracking during retrieval."
          },
          "allow_public": {
            "type": "boolean",
            "description": "Whether memories generated from the added message are allowed to be written to the public memory store. When enabled, generated memories can be retrieved by other users in the project.",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scope of knowledgebases where memories generated from the added message are allowed to be written.",
            "default": []
          },
          "async_mode": {
            "type": "boolean",
            "description": "Whether to enable asynchronous memory addition. When enabled, memory will be added asynchronously in the background to avoid blocking the call chain.",
            "default": true
          }
        },
        "title": "AddMessageRequest"
      },
      "MessageInput": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "chat_time": {
            "type": "string",
            "title": "Chat Time",
            "description": "Time of the conversation, as a structured timestamp or Chinese text. Providing this parameter allows memory to include time information."
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system",
              "tool"
            ],
            "title": "Role",
            "description": "Sender role."
          },
          "content": {
            "title": "Content",
            "description": "Content of the message.",
            "oneOf": [
              {
                "type": "string",
                "description": "Message text content"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "image_url",
                        "file"
                      ],
                      "description": "Type of the message sent"
                    },
                    "text": {
                      "type": "string",
                      "description": "Text message content. Required when type is text."
                    },
                    "image_url": {
                      "type": "object",
                      "description": "Image message content object.",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "Image message URL. Required when type is image_url."
                        }
                      }
                    },
                    "file": {
                      "type": "object",
                      "description": "File message content object.",
                      "properties": {
                        "file_data": {
                          "type": "string",
                          "description": "Accessible file URL or base64. Supports txt / pdf / doc / docx / json / md / xml. Single file max 100MB, 500 pages, total max 20 files. Required when type is file."
                        }
                      }
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                "description": "List of multi-modal content"
              }
            ]
          },
          "tool_call_id": {
              "type": "string",
              "description": "Unique identifier for the tool call message when role is tool."
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier for the tool call, used to associate with this tool call. Required in tool_calls."
                },
                "type": {
                  "type": "string",
                  "description": "Tool call type, currently only supports function. Required in tool_calls.",
                  "enum": ["function"]
                },
                "function": {
                  "type": "object",
                  "description": "Defined tool to be called. Required in tool_calls.",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Tool (function) name. Required in tool_calls."
                    },
                    "arguments": {
                      "type": "string",
                      "description": "Tool call arguments, must be a JSON formatted string. Required in tool_calls."
                    }
                  }
                }
              }
            },
            "description": "List of tool call information when role is assistant, used to pass when triggering tool calls."
          }
        },
        "title": "MessageInput"
      },
      "AddMessageResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "API status code. See <a href=\"https://memos-dashboard.openmem.net/apikeys/\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">Error Code</a> for details",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/OpenMemAddMessageResponse"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "API response message, e.g., \"Message added successfully\".",
            "example": "ok"
          }
        },
        "title": "AddMessageResponse"
      },
      "OpenMemAddMessageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success",
            "description": "Indicates if the message was added successfully. true = success, false = failure.",
            "example": true
          },
          "task_id": {
            "type": "string",
            "title": "Task ID",
            "description": "Unique identifier of the memory processing task."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "enum": [
              "running",
              "completed",
              "failed"
            ],
            "description": "Current status of the memory processing task."
          }
        },
        "title": "OpenMemAddMessageResponse",
        "description": "Object representing the result of adding the message."
      },
      "GetMessageRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "Unique identifier of the user associated with the messages being retrieved."
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "Unique identifier of the conversation associated with the messages."
          },
          "message_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Message Limit Number",
            "description": "Limits the number of messages returned, controlling the length of the message list. Defaults to 6 if not provided. The maximum allowed value is 50.",
            "default": 6
          }
        },
        "title": "GetMessageRequest"
      },
      "GetMessageResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "API status code. See <a href=\"https://memos-dashboard.openmem.net/apikeys/\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">Error Code</a> for details.",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/GetMessageResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "API response message."
          }
        },
        "title": "GetMessageResponse"
      },
      "GetMessageResponseData": {
        "type": "object",
        "properties": {
          "message_detail_list": {
            "type": "array",
            "title": "Message Detail List",
            "description": "List of retrieved message details. Each item includes:",
            "items": {
              "$ref": "#/components/schemas/MessageDetail"
            }
          }
        },
        "title": "GetMessageResponseData",
        "description": "Object containing the retrieved messages."
      },
      "MessageDetail": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "title": "Role",
            "description": "Role of the message sender.",
            "example": "user"
          },
          "content": {
            "type": "string",
            "title": "Content",
            "description": "Text content of the message."
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "Creation time of the message."
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "Last update time of the message."
          }
        },
        "title": "MessageDetail",
        "description": "List of retrieved message details. Each item includes:"
      },
      "SearchMemoryRequest": {
        "type": "object",
        "required": [
          "user_id",
          "query"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "Unique identifier of the user associated with the memory being queried."
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "Unique identifier of the conversation containing the memory. Providing this ensures the current conversation’s memories have higher priority over other historical."
          },
          "query": {
            "type": "string",
            "title": "Query",
            "description": "Text content to search within the memories.The token limit for a single query is 4k."
          },
          "filter": {
            "type": "object",
            "title": "Filter",
            "description": "Memory filter conditions used to precisely limit candidate memories before retrieval. Supports two formats: pass a global filter condition composed of and/or directly, or pass source-specific filters under knowledgebase, user, and public. Available fields include agent_id, app_id, tags, create_time, update_time, and custom fields written through info when adding messages, such as business_type, biz_id, and scene. Fields in info are used directly by field name in filter, for example {\"scene\":\"chat\"}; do not wrap them in another info object. Supports comparison operators gte, lte, gt, lt, and tags.contains.",
            "example": "{\"knowledgebase\":{\"and\":[{\"tags\":{\"contains\":\"reading\"}},{\"create_time\":{\"gte\":\"2025-01-01\"}},{\"create_time\":{\"lte\":\"2025-12-31\"}}]},\"user\":{\"and\":[{\"scene\":\"chat\"}]}}"
          },
          "knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Specifies the scope of knowledge bases accessible for the current search. Defaults to empty, meaning no knowledge bases are searched.Pass specific Knowledgebase IDs to search within that designated repository; pass \"all\" to search across all associated knowledgebases within the project."
          },
          "memory_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Memory Limit Number",
            "description": "Maximum number of memories that can be recalled: as long as the relevance threshold (relativity) is met, up to this many memories may be returned. Default is 9, maximum is 25.",
            "default": 9
          },
          "include_preference": {
            "type": "boolean",
            "title": "Include Preference",
            "description": "Whether to enable preference memory recall. When enabled, the system will intelligently retrieve the user’s preference memories based on the query. Defaults to true if not provided.",
            "default": true
          },
          "preference_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Preference Limit Number",
            "description": "Maximum number of preference memories that can be recalled: as long as the relevance threshold (relativity) is met, up to this many preferred memories may be returned. Default is 9, maximum is 25.",
            "default": 9
          },
          "include_tool_memory": {
            "type": "boolean",
            "title": "Include Tool Memory",
            "description": "Whether to enable tool memory recall. When enabled, the system will intelligently retrieve tool-related memories based on the query. Default is false if not provided.",
            "default": false
          },
          "tool_memory_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Tool Memroy Limit Number",
            "description": "Limits the number of tool memory items returned, controlling the count of recalled tool memories. Effective only when include_tool_memory=true. Default is 6 if not provided, max is 25.",
            "default": 6
          },
          "include_skill": {
            "type": "boolean",
            "title": "Include Skill",
            "description": "Whether to enable Skill recall. When enabled, the system recalls relevant Skills based on the query, including personalized Skills auto-generated from user conversations and custom Skills uploaded within the knowledgebase_ids scope. Default is disabled if not provided."
          },
          "skill_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Skill Limit Number",
            "description": "Limits the number of returned Skills, controlling the count of recalled skills. Effective only when `include_skill=true`. Default is 6 if not provided, max is 25."
          },
         "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "Relevance threshold (0–1) for recalled memories. Filters out low-relevance memories and, together with the maximum counts for factual and preferred recalls, constrains the final results. When omitted, the system default threshold is used. A value of 0 disables relevance filtering.",
            "default": 0.45
          }
        },
        "title": "SearchMemoryRequest"
      },
      "SearchMemoryResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "API status code. See <a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">Error Code</a> for details.",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/SearchMemoryResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "API response message."
          }
        },
        "title": "SearchMemoryResponse"
      },
      "SearchMemoryResponseData": {
        "type": "object",
        "title": "SearchMemoryResponseData",
        "properties": {
          "memory_detail_list": {
            "type": "array",
            "title": "Memory Detail List",
            "description": "List of memory fragment details returned. Each item includes:",
            "items": {
              "$ref": "#/components/schemas/MemoryDetail"
            }
          },
          "preference_detail_list": {
            "type": "array",
            "title": "Preference Detail List",
            "description": "List of preference memory details returned. Each item includes:",
            "items": {
              "$ref": "#/components/schemas/PreferenceDetail"
            }
          },
          "tool_memory_detail_list": {
            "type": "array",
            "title": "Tool Memory Detail List",
            "description": "List of tool memory fragment details returned.",
            "items": {
              "$ref": "#/components/schemas/ToolMemoryDetail"
            }
          },
          "preference_note": {
            "type": "string",
            "title": "Preference Note",
            "description": "Preference memory usage note when it is retrieved."
          },
          "skill_detail_list": {
            "type": "array",
            "title": "Skill Detail List",
            "description": "List of Skill details returned when include_skill is enabled. Sources include Skills auto-generated from user conversations and custom Skills uploaded to Knowledge Bases.",
            "items": {
              "$ref": "#/components/schemas/SkillDetail"
            }
          }
        },
        "description": "Object containing the query result."
      },
      "MemoryDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "Unique identifier of fact memory, used internally by the system."
          },
          "memory_key": {
            "type": "string",
            "title": "Memory Key",
            "description": "Title or keyword summarizing fact memory."
          },
          "memory_value": {
            "type": "string",
            "title": "Memory Value",
            "description": "Detailed content of fact memory."
          },
          "memory_type": {
            "type": "string",
            "enum": [
              "WorkingMemory",
              "LongTermMemory",
              "UserMemory"
            ],
            "title": "Memory Type",
            "description": "WorkingMemory: short-term working memory, temporarily stored.<br>LongTermMemory: long-term memory, important information or facts stored persistently.<br>UserMemory: user-specific memory, personalized information related to a specific user.",
            "example": "LongTermMemory"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "Creation time of fact memory, usually in ISO 8601 format."
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "Unique identifier of the conversation associated with fact memory."
          },
          "status": {
            "type": "string",
            "enum": [
              "activated"
            ],
            "title": "Status",
            "description": "Fact memory status. All retrieved fact memories are currently activated.<br>activated: active fact memory, available for retrieval and use.",
            "example": "activated"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Confidence",
            "description": "Confidence score of fact memory, ranging from 0 to 1. Values closer to 1 indicate higher reliability. <br>The score may gradually decay over time or with repeated model reasoning to reflect uncertainty.",
            "example": 0.95
          },
          "tags": {
            "type": "array",
            "title": "Tags",
            "description": "List of tags associated with fact memory for categorization or retrieval. Each element is a string, e.g., [\"person\", \"event\", \"work\"].",
            "items": {
              "type": "string"
            }
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "Last modification or update time of fact memory, usually in ISO 8601 format."
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "Relevance score of fact memory to the query, ranging from 0 to 1. Higher values indicate stronger relevance.",
            "example": 0.87
          }
        },
        "title": "MemoryDetail",
        "description": "List of memory fragment details returned. Each item includes:"
      },
      "PreferenceDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "Unique identifier of preference memory, used internally by the system."
          },
          "preference": {
            "type": "string",
            "title": "Preference",
            "description": "Detailed content of preference memory."
          },
          "preference_type": {
            "type": "string",
            "enum": [
              "explicit_preference",
              "implicit_preference"
            ],
            "title": "Preference Type",
            "description": "explicit_preference: Explicit preference memory.<br>implicit_preference: Implicit preference memory.",
            "example": "explicit_preference"
          },
          "reasoning": {
            "type": "string",
            "title": "Reasoning",
            "description": "The reason why preference memory was extracted."
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "Creation time of preference memory, usually in ISO 8601 format."
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "Unique identifier of the conversation associated with preference memory."
          },
          "status": {
            "type": "string",
            "enum": [
              "activated"
            ],
            "title": "Status",
            "description": "Preference memory status. All retrieved preference memories are currently activated.<br>activated: active preference memory, available for retrieval and use.",
            "example": "activated"
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "Last modification or update time of preference memory, usually in ISO 8601 format."
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "Relevance score of preference memory to the query, ranging from 0 to 1. Higher values indicate stronger relevance.",
            "example": 0.87
          }
        },
        "title": "PreferenceDetail"
      },
      "ToolUsedStatus": {
        "type": "object",
        "properties": {
          "used_tool": {
            "type": "string",
            "title": "Used Tool",
            "description": "Name of the tool used."
          },
          "error_type": {
            "type": "string",
            "title": "Error Type",
            "description": "Error description when call fails."
          },
          "success_rate": {
            "type": "number",
            "title": "Success Rate",
            "description": "Success rate of this tool trajectory."
          },
          "tool_experience": {
            "type": "string",
            "title": "Tool Experience",
            "description": "Experience with this tool in the current trajectory."
          }
        },
        "title": "ToolUsedStatus"
      },
      "ToolMemoryDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "Unique identifier of the tool memory fragment."
          },
          "tool_type": {
            "type": "string",
            "title": "Tool Type",
            "description": "Tool memory type. ToolTrajectoryMemory: tool trajectory memory; ToolSchema: tool info memory.",
            "enum": [
              "ToolTrajectoryMemory",
              "ToolSchema"
            ]
          },
          "tool_value": {
            "type": "string",
            "title": "Tool Value",
            "description": "Specific content of the tool memory."
          },
          "tool_used_status": {
            "type": "array",
            "title": "Tool Used Status",
            "description": "List of tool trajectory memories, each record contains tool used and experience info.",
            "items": {
              "$ref": "#/components/schemas/ToolUsedStatus"
            }
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "Tool memory creation time (ISO 8601 format)."
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "Unique identifier of the conversation associated with the tool memory."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Tool memory status, currently activated.",
            "enum": [
              "activated"
            ]
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "Last update time of the tool memory (ISO 8601 format)."
          },
          "relativity": {
            "type": "number",
            "title": "Relativity",
            "description": "Relevance score of the tool memory to the query content."
          },
          "experience": {
            "type": "string",
            "title": "Experience",
            "description": "Procedural experience of the entire trajectory, serving as overall guidance for task completion."
          }
        },
        "title": "ToolMemoryDetail"
      },
      "SkillValue": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The name of the Skill, used for display and identification of the capability."
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "The description of the Skill."
          },
          "procedure": {
            "type": "string",
            "title": "Procedure",
            "description": "Recommended procedures or operational steps to complete the task."
          },
          "experience": {
            "type": "array",
            "title": "Experience",
            "items": {
              "type": "string"
            },
            "description": "Experience accumulated from historical tasks, including best practices, common pitfalls, and avoidance suggestions."
          },
          "preference": {
            "type": "array",
            "title": "Preference",
            "items": {
              "type": "string"
            },
            "description": "User preference settings for this type of task, such as style, constraints, or priorities."
          },
          "examples": {
            "type": "array",
            "title": "Examples",
            "items": {
              "type": "string"
            },
            "description": "Typical usage examples of the Skill, helping the Agent understand input/output formats and usage boundaries."
          },
          "script": {
            "type": "object",
            "title": "Script",
            "description": "Reusable code scripts or logic implementations used to complete the Skill."
          },
          "others": {
            "type": "object",
            "title": "Others",
            "description": "Other supplementary information."
          }
        }
      },
      "SkillDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "The unique identifier of the Skill, used internally by the system to distinguish different memory entries."
          },
          "skill_value": {
            "type": "object",
            "title": "Skill Value",
            "description": "Structured Skill content. You can convert it to a string and inject it into the Agent prompt.",
            "items": {
              "$ref": "#/components/schemas/SkillValue"
            }
          },
          "skill_url": {
            "type": "string",
            "title": "Skill Url",
            "description": "Download link for the Skill. A Markdown Skill can be downloaded as SKILL.md; a ZIP Skill package can include SKILL.md, scripts, references, assets, and other attachments."
          },
          "skill_type": {
            "type": "string",
            "title": "Skill Type",
            "description": "The type of the Skill."
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "The creation time of the Skill content, usually in ISO 8601 format."
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "The unique identifier of the conversation associated with the Skill."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "The status of the Skill. Currently, all retrieved Skills are 'activated'. activated: Active status, the Skill is currently retrievable and usable.",
            "enum": [
              "activated"
            ]
          },
          "confidence": {
            "type": "number",
            "title": "Confidence",
            "description": "The confidence score of the Skill, ranging from 0 to 1. A value closer to 1 indicates the Skill is more accurate and reliable.\nThe confidence score gradually decays as the model infers this Skill more times, reflecting the uncertainty that may arise over time or usage frequency."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of tags associated with the Skill, used for classification, retrieval, or topic marking. Each element in the array is a string, e.g., [\"Person\", \"Event\", \"Work\"]."
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "The time when the Skill was last modified or updated, usually in ISO 8601 format."
          },
          "relativity": {
            "type": "string",
            "title": "Relativity",
            "description": "The relevance score between the query content and the Skill, ranging from 0 to 1. A value closer to 1 indicates higher relevance."
          }
        },
        "title": "SkillDetail"
      },
      "GetMemoryRequest": {
        "type": "object",
        "required": [
          "user_id"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "Unique identifier of the user whose memories are being retrieved."
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number for pagination when many results are returned.",
            "default": 1
          },
          "size": {
            "type": "integer",
            "title": "Size",
            "description": "Number of entries returned per memory category on the current page, up to 50.",
            "default": 10
          },
          "filter": {
            "type": "object",
            "title": "Filter",
            "description": "Filter conditions, used to precisely limit the memory scope before retrieval. Available fields include: \"agent_id\", \"app_id\", \"create_time\", \"update_time\", and specific fields in \"info\". Supports logical operators (and, or) and comparison operators (gte, lte, gt, lt). For the \"info\" field, supports filtering by \"business_type\", \"biz_id\", \"scene\", and other custom fields.",
            "example": "{\"and\": [{\"create_time\":{\"gte\":\"...\"}}]}"
          },
          "include_preference": {
            "type": "boolean",
            "title": "Include Preference",
            "description": "Whether preference memories should be included.",
            "default": true
          },
          "include_tool_memory": {
            "type": "boolean",
            "title": "Include Tool Memory",
            "description": "Whether tool memories should be included.",
            "default": true
          }
        },
        "title": "GetMemoryRequest"
      },
      "GetMemoryResponseData": {
        "type": "object",
        "title": "GetMemoryResponseData",
        "properties": {
          "memory_detail_list": {
            "type": "array",
            "title": "Memory Detail List",
            "description": "Returned factual memories.",
            "items": {
              "type": "object",
              "title": "Memory Detail",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of a factual memory entry."
                },
                "memory_key": {
                  "type": "string",
                  "description": "Title or keyword summarizing the factual memory."
                },
                "memory_value": {
                  "type": "string",
                  "description": "Content of the factual memory."
                },
                "memory_type": {
                  "type": "string",
                  "enum": [
                    "WorkingMemory",
                    "LongTermMemory",
                    "UserMemory"
                  ],
                  "description": "Type of factual memory."
                },
                "create_time": {
                  "type": "string",
                  "description": "Creation time in ISO 8601 format."
                },
                "conversation_id": {
                  "type": "string",
                  "description": "Conversation identifier linked to this memory."
                },
                "status": {
                  "type": "string",
                  "description": "Current status, only activated is returned."
                },
                "confidence": {
                  "type": "number",
                  "description": "Confidence score between 0 and 1; higher means more reliable."
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Tag list for classification or retrieval."
                },
                "update_time": {
                  "type": "string",
                  "description": "Last update time in ISO 8601 format."
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "description": "Source message objects associated with the memory."
                },
                "info": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Custom metadata provided when adding the message."
                }
              }
            }
          },
          "preference_detail_list": {
            "type": "array",
            "title": "Preference Detail List",
            "description": "Returned preference memories.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the preference memory."
                },
                "preference_type": {
                  "type": "string",
                  "enum": [
                    "explicit_preference",
                    "implicit_preference"
                  ],
                  "description": "Preference memory type."
                },
                "preference": {
                  "type": "string",
                  "description": "Description of the preference."
                },
                "reasoning": {
                  "type": "string",
                  "description": "Reasoning for extracting or deriving the preference."
                },
                "create_time": {
                  "type": "string",
                  "description": "Creation time in ISO 8601 format."
                },
                "conversation_id": {
                  "type": "string",
                  "description": "Conversation identifier linked to this preference."
                },
                "status": {
                  "type": "string",
                  "description": "Current status, only activated is returned."
                },
                "update_time": {
                  "type": "string",
                  "description": "Last update time in ISO 8601 format."
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "description": "Source messages associated with the preference."
                },
                "info": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Custom metadata provided when adding the message."
                }
              }
            }
          },
          "tool_memory_detail_list": {
            "type": "array",
            "title": "Tool Memory Detail List",
            "description": "List of tool memory fragment details returned.",
            "items": {
              "type": "object",
              "title": "Tool Memory Detail",
              "properties": {
                "id": {
                  "type": "string",
                  "title": "ID",
                  "description": "Unique identifier of the tool memory fragment."
                },
                "tool_type": {
                  "type": "string",
                  "title": "Tool Type",
                  "description": "Tool memory type. ToolTrajectoryMemory: tool trajectory memory; ToolSchema: tool info memory.",
                  "enum": [
                    "ToolTrajectoryMemory",
                    "ToolSchema"
                  ]
                },
                "tool_value": {
                  "type": "string",
                  "title": "Tool Value",
                  "description": "Specific content of the tool memory."
                },
                "tool_used_status": {
                  "type": "array",
                  "title": "Tool Used Status",
                  "description": "List of tool trajectory memories, each record contains tool used and experience info.",
                  "items": {
                    "$ref": "#/components/schemas/ToolUsedStatus"
                  }
                },
                "create_time": {
                  "type": "string",
                  "title": "Create Time",
                  "description": "Tool memory creation time (ISO 8601 format)."
                },
                "conversation_id": {
                  "type": "string",
                  "title": "Conversation ID",
                  "description": "Unique identifier of the conversation associated with the tool memory."
                },
                "status": {
                  "type": "string",
                  "title": "Status",
                  "description": "Tool memory status, currently activated.",
                  "enum": [
                    "activated"
                  ]
                },
                "update_time": {
                  "type": "string",
                  "title": "Update Time",
                  "description": "Last update time of the tool memory (ISO 8601 format)."
                },
                "experience": {
                  "type": "string",
                  "title": "Experience",
                  "description": "Procedural experience of the entire trajectory, serving as overall guidance for task completion."
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "description": "List of original message content associated with the tool memory."
                },
                "info": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Custom metadata provided when adding the message."
                }
              }
            }
          },
          "total": {
            "type": "integer",
            "description": "Maximum count across memory types, used to check if another page exists."
          },
          "size": {
            "type": "integer",
            "description": "Number of entries per memory type on the current page."
          },
          "current": {
            "type": "integer",
            "description": "Index of the current page."
          },
          "pages": {
            "type": "integer",
            "description": "Total number of pages."
          }
        }
      },
      "GetMemoryResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "title": "GetMemoryResponse",
        "properties": {
          "code": {
            "type": "number",
            "title": "Code",
            "description": "API status code; refer to the error-code list for details."
          },
          "data": {
            "$ref": "#/components/schemas/GetMemoryResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "API message."
          }
        }
      },
      "DeleteMemoryRequest": {
        "type": "object",
        "properties": {
          "memory_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Memory IDs",
            "description": "IDs of the memories to be deleted, obtained from the `id` field returned by the `search/memory` or `get/memory` API."
          },
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "Unique identifier of the user whose memories are being deleted."
          }
        },
        "title": "DeleteMemoryRequest"
      },
      "DeleteMemoryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "API status code. See <a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">Error Code</a> for details."
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "Whether deletion was successful. true for success, false for failure.",
                "example": true
              }
            },
            "description": "Returned deletion information"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "API response message"
          }
        },
        "title": "DeleteMemoryResponse"
      },
      "AddFeedbackRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "feedback_content"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "Unique identifier of the user associated with the feedback content."
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "Unique identifier of the conversation associated with the feedback content."
          },
          "feedback_content": {
            "type": "string",
            "title": "Feedback Content",
            "description": "Feedback content text."
          },
          "agent_id": {
            "type": "string",
            "title": "Agent ID",
            "description": "Unique identifier of the Agent associated with the feedback content, primarily used to query exclusive memories between a user and that Agent during retrieval."
          },
          "app_id": {
            "type": "string",
            "title": "App ID",
            "description": "Unique identifier of the App associated with the feedback content, primarily used to query exclusive memories of a user under that App during retrieval."
          },
          "feedback_time": {
            "type": "string",
            "title": "Feedback Time",
            "description": "Time when the feedback occurred, can be a structured timestamp or natural language time description. Providing this parameter allows memory to include time information."
          },
          "allow_public": {
            "type": "boolean",
            "title": "Allow Public",
            "description": "Whether memories generated from the feedback content are allowed to be written to the public memory store. When enabled, generated memories can be retrieved by other users in the project.",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Allow Knowledgebase IDs",
            "description": "List of knowledgebases where memories generated from the feedback content are allowed to be written."
          }
        },
        "title": "AddFeedbackRequest"
      },
      "AddFeedbackResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "API status code. See <a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">Error Code</a> for details."
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "Whether addition was successful. true for success, false for failure."
              },
              "status": {
                "type": "string",
                "title": "Status",
                "description": "Task status: running, completed"
              },
              "task_id": {
                "type": "string",
                "title": "Task ID",
                "description": "Task ID"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "API response message"
          }
        },
        "title": "AddFeedbackResponse"
      },
      "GetStatusRequest": {
        "type": "object",
        "required": [
          "task_id"
        ],
        "properties": {
          "task_id": {
            "type": "string",
            "title": "Task ID",
            "description": "Async Task ID"
          }
        },
        "title": "GetStatusRequest"
      },
      "GetStatusResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "API status code. See <a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">Error Code</a> for details."
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "status": {
                "type": "string",
                "title": "Status",
                "enum": [
                  "running",
                  "completed",
                  "failed"
                ],
                "description": "Current status of the memory processing task."
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "API response message"
          }
        },
        "title": "GetStatusResponse"
      },
      "CreateKnowledgebaseRequest": {
        "type": "object",
        "required": [
          "knowledgebase_name"
        ],
        "properties": {
          "knowledgebase_name": {
            "type": "string",
            "title": "Knowledgebase Name",
            "description": "Knowledgebase Name"
          },
          "knowledgebase_description": {
            "type": "string",
            "title": "Knowledgebase Description",
            "description": "Description information"
          }
        },
        "title": "CreateKnowledgebaseRequest"
      },
      "CreateKnowledgebaseResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "API status code. See <a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">Error Code</a> for details."
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "id": {
                "type": "string",
                "title": "KNOWLEDGEBASE ID",
                "description": "Knowledgebase ID returned after successful creation"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "API response message"
          }
        },
        "title": "CreateKnowledgebaseResponse"
      },
      "DeleteKnowledgebaseRequest": {
        "type": "object",
        "required": [
          "knowledgebase_id"
        ],
        "properties": {
          "knowledgebase_id": {
            "type": "string",
            "title": "Knowledgebase ID",
            "description": "Knowledgebase ID to be deleted"
          }
        },
        "title": "DeleteKnowledgebaseRequest"
      },
      "DeleteKnowledgebaseResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "API status code. See <a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">Error Code</a> for details."
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "Whether removal was successful. true for success, false for failure."
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "API response message"
          }
        },
        "title": "DeleteKnowledgebaseResponse"
      },
      "UploadFileRequest": {
        "type": "object",
        "required": [
          "knowledgebase_id",
          "file"
        ],
        "properties": {
          "knowledgebase_id": {
            "type": "string",
            "title": "Knowledgebase ID",
            "description": "Target Knowledgebase ID"
          },
          "file": {
            "type": "array",
            "title": "File",
            "description": "List of files to upload. Ordinary documents follow the document parsing pipeline; Skill files follow the Skill validation and parsing pipeline.",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "title": "Name",
                  "description": "File name. Recommended when uploading Base64 content; optional when uploading by URL."
                },
                "type": {
                  "type": "string",
                  "title": "Type",
                  "enum": [
                    "document",
                    "skill"
                  ],
                  "default": "document",
                  "description": "Uploaded file type. document means ordinary Knowledge Base document; skill means Skill file, supporting a .md single file or .zip Skill package."
                },
                "content": {
                  "type": "string",
                  "title": "Content",
                  "description": "File content. Supports URL or Base64 encoding. For supported formats, size limits, and quantity limits for ordinary documents and Skill files, see <a href=\"/memos_cloud/features/advanced/knowledge_base\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">Knowledge Base requirements</a>."
                }
              }
            }
          }
        },
        "title": "UploadFileRequest"
      },
      "UploadFileResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "API status code. See <a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">Error Code</a> for details."
          },
          "data": {
            "type": "array",
            "title": "Data",
            "description": "Processing results for uploaded files.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "title": "ID",
                  "description": "File ID"
                },
                "type": {
                  "type": "string",
                  "title": "Type",
                  "enum": [
                    "document",
                    "skill"
                  ],
                  "description": "File type. document means ordinary document; skill means Skill file."
                },
                "name": {
                  "type": "string",
                  "title": "Name",
                  "description": "File name"
                },
                "sizeMB": {
                  "type": "number",
                  "title": "Size MB",
                  "description": "File size in MB"
                },
                "status": {
                  "type": "string",
                  "title": "Status",
                  "description": "File processing status",
                  "enum":[
                    "running",
                    "completed",
                    "failed"
                  ]
                }
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "API response message"
          }
        },
        "title": "UploadFileResponse"
      },
      "GetFileRequest": {
        "type": "object",
        "description": "Supports two query modes: pass file_ids to retrieve specific file details; or pass knowledgebase_id to list files under a Knowledge Base, optionally with type, page, and page_size for filtering and pagination. Choose exactly one mode. Passing both knowledgebase_id and file_ids returns an error; passing neither also returns an error.",
        "properties": {
          "knowledgebase_id": {
            "type": "string",
            "title": "Knowledgebase ID",
            "description": "Query mode 1: target Knowledge Base ID. Returns files under the Knowledge Base and can be used with type, page, and page_size. Do not pass it together with file_ids."
          },
          "type": {
            "type": "string",
            "title": "Type",
            "enum": [
              "document",
              "skill"
            ],
            "description": "File type filter, effective only when querying by knowledgebase_id. document returns only ordinary documents; skill returns only Skill files; omit this field to return all files. Do not use it with the file_ids query mode."
          },
          "page": {
            "type": "integer",
            "format": "int32",
            "title": "Page",
            "description": "Page number, effective only when querying by knowledgebase_id. Do not use it with the file_ids query mode.",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "format": "int32",
            "title": "Page Size",
            "description": "Items per page, effective only when querying by knowledgebase_id. Do not use it with the file_ids query mode.",
            "default": 20
          },
          "file_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "File IDs",
            "description": "Query mode 2: file ID list. Returns details for the specified files. When using this mode, pass only file_ids and do not pass knowledgebase_id, type, page, or page_size."
          }
        },
        "title": "GetFileRequest"
      },
      "GetFileResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "API status code. See <a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">Error Code</a> for details."
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "total": {
                "type": "integer",
                "format": "int32",
                "title": "Total",
                "description": "Total number of matched files"
              },
              "page": {
                "type": "integer",
                "format": "int32",
                "title": "Page",
                "description": "Current page number"
              },
              "page_size": {
                "type": "integer",
                "format": "int32",
                "title": "Page Size",
                "description": "Items per page"
              },
              "file_detail_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "title": "ID",
                      "description": "File ID"
                    },
                    "type": {
                      "type": "string",
                      "title": "Type",
                      "enum": [
                        "document",
                        "skill"
                      ],
                      "description": "File type. document means ordinary document; skill means Skill file."
                    },
                    "name": {
                      "type": "string",
                      "title": "Name",
                      "description": "File name"
                    },
                    "size": {
                      "type": "string",
                      "title": "Size",
                      "description": "File size"
                    },
                    "status": {
                      "type": "string",
                      "title": "Status",
                      "description": "File processing status",
                      "enum":[
                        "running",
                        "completed",
                        "failed"
                      ]
                    }
                  }
                },
                "title": "File Detail List"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "API response message"
          }
        },
        "title": "GetFileResponse"
      },
      "DeleteFileRequest": {
        "type": "object",
        "required": [
          "file_ids"
        ],
        "properties": {
          "file_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "File IDs",
            "description": "List of file IDs to delete. You can pass ordinary document IDs or Skill file IDs."
          }
        },
        "title": "DeleteFileRequest"
      },
      "DeleteFileResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "API status code. See <a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">Error Code</a> for details."
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "Whether deletion was successful. true for success, false for failure."
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "API response message"
          }
        },
        "title": "DeleteFileResponse"
      },
      "ExtractMemoryItem": {
        "type": "object",
        "title": "ExtractMemoryItem",
        "properties": {
          "memory_key": {
            "type": "string",
            "title": "Memory Key",
            "description": "High-level topic or title summarizing the extracted factual memory.",
            "example": "User profile basics"
          },
          "memory_value": {
            "type": "string",
            "title": "Memory Value",
            "description": "Detailed content of the extracted factual memory.",
            "example": "User Zhang San, 28, backend developer in Hangzhou, enjoys badminton."
          },
          "memory_type": {
            "type": "string",
            "title": "Memory Type",
            "description": "Memory type classifier.<br>Examples: UserMemory, LongTermMemory.",
            "example": "UserMemory"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Tags",
            "description": "Tags for categorizing the memory content.",
            "example": [
              "person",
              "job",
              "hobby"
            ]
          }
        }
      },
      "ExtractPreferenceItem": {
        "type": "object",
        "title": "ExtractPreferenceItem",
        "properties": {
          "preference": {
            "type": "string",
            "title": "Preference",
            "description": "Concrete preference text extracted from the dialogue.",
            "example": "The user asked for replies to stay concise."
          },
          "reasoning": {
            "type": "string",
            "title": "Reasoning",
            "description": "How this preference was inferred from the conversation.",
            "example": "The user stated this preference explicitly in the chat."
          },
          "preference_type": {
            "type": "string",
            "title": "Preference Type",
            "description": "explicit_preference: clearly stated by the user; implicit_preference: inferred from behavior or context.",
            "enum": [
              "explicit_preference",
              "implicit_preference"
            ],
            "example": "explicit_preference"
          }
        }
      },
      "ExtractMemoryResponseData": {
        "type": "object",
        "title": "ExtractMemoryResponseData",
        "properties": {
          "success": {
            "type": "boolean",
[...]
